<div class="page-wrapper">
    <div class="container-fluid">
        <div id="myFixedHeader" class="row page-titles mb-2">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor">Assign Customer</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 form-material">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-12">
                                <p style="color: red;">All * are mandatory</p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="radio" name="Assign" id="Assign" class="with-gap" [(ngModel)]="flag"
                                        [value]="0">
                                    <label for="Assign">Assign Customer</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="radio" name="Update" id="Update" class="with-gap" [(ngModel)]="flag"
                                        [value]="1">
                                    <label for="Update">Update CP Customer</label>
                                </div>
                            </div>
                            <div class="col-md-12">&nbsp;</div>
                            <div class="col-md-6" *ngIf="flag==0">
                                <div class="form-group ">
                                    <label class="active" for="BrokerId">Broker <span
                                            style="color: red;">(*)</span></label>
                                    <select class="form-control" id="BrokerId" name="BrokerId" [(ngModel)]="BrokerId"
                                        required (change)="OnChangeCustomer()">
                                        <option value="">--select--</option>
                                        <option *ngFor="let broker of BrokerList" [value]="broker.USERNAME">
                                            {{broker.USERFULLNAME}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="flag==0">
                                <div class="form-group">
                                    <label for="PersonName">Select Collect Person</label>
                                    <select class="form-control p-0" id="PersonName" name="PersonName"
                                        [(ngModel)]="PersonName">
                                        <option value="">--Select--</option>
                                        <option *ngFor="let collect of CollectPersonList" [value]="collect.CPCODE">
                                            {{collect.CPNAME}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="flag==1">
                                <div class="form-group ">
                                    <label class="active" for="CPBrokerId">Broker <span
                                            style="color: red;">(*)</span></label>
                                    <select class="form-control" id="CPBrokerId" name="CPBrokerId"
                                        [(ngModel)]="CPBrokerId" required (change)="OnCPChangeCustomer()">
                                        <option value="">--select--</option>
                                        <option *ngFor="let broker of BrokerList" [value]="broker.USERNAME">
                                            {{broker.USERFULLNAME}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="flag==1">
                                <div class="form-group">
                                    <label for="PersonName">Select Collect Person</label>
                                    <select class="form-control p-0" id="CPName" name="CPName" (change)="BindCustomer()"
                                        [(ngModel)]="CPName">
                                        <option value="">--Select--</option>
                                        <option *ngFor="let collect of CollectPersonList" [value]="collect.CPCODE">
                                            {{collect.CPNAME}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="flag==0">
                    <div class="card-body">
                        <div class="">
                            <div class="row ">
                                <div class="col-lg-2 pt-3">
                                    <h5>Search Customer :</h5>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label for="CustomerCode">Customer Code</label>
                                        <input id="CustomerCode" type="text" class="form-control validate"
                                            name="CustomerCode" [(ngModel)]="CustomerCode" required>
                                        <span class="bar"></span>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label for="CustomerName">Customer Name</label>
                                        <input id="CustomerName" type="text" class="form-control validate"
                                            name="CustomerName" [(ngModel)]="CustomerName" required>
                                        <span class="bar"></span>

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="active" for="Zone">Zone</label>
                                        <select class="form-control" id="Zone" name="Zone" [(ngModel)]="Zone" required>
                                            <!--(change)="onChangeInvStatus($event.target.value)"-->
                                            <option value="0">All</option>
                                            <option *ngFor="let area of ZoneList" [value]="area.Zone">
                                                {{area.Zone}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="">
                                        <button class="btn btn-info  btn-block mt-3" type="submit" name="action"
                                            (click)="SearchInvoice()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" class="full-width-table" matSort
                            aria-label="Elements">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        (change)="$event ? selectRow($event, row) : null"
                                        [checked]="selection.isSelected(row)==true">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Id Column -->
                            <ng-container matColumnDef="UserID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer#</th>
                                <td mat-cell *matCellDef="let element"><a href="#">{{element.UserID}}</a></td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                <td mat-cell *matCellDef="let element">{{element.Name}}</td>
                            </ng-container>

                            <ng-container matColumnDef="ContactNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</th>
                                <td mat-cell *matCellDef="let element">{{element.ContactNo}}</td>
                            </ng-container>

                            <ng-container matColumnDef="EmailID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</th>
                                <td mat-cell *matCellDef="let element">{{element.EmailID}}</td>
                            </ng-container>

                            <ng-container matColumnDef="CustAddress">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="width: auto; word-wrap: break-word">
                                        {{element.CustAddress}}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="TimeInQueue">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time In Queue</th>
                                <td mat-cell *matCellDef="let element">{{element.TimeInQueue}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Zone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone</th>
                                <td mat-cell *matCellDef="let element">{{element.Zone}}</td>
                            </ng-container>

                            <ng-container matColumnDef="BALANCE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance ($)</th>
                                <td mat-cell *matCellDef="let element">{{element.BALANCE}}</td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="invoice-action">
                                        <a href="#" class="invoice-action-view mr-4">
                                            <i class="material-icons">remove_red_eye</i>
                                        </a>
                                        <a href="#" class="invoice-action-edit">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </div>
                                </td>
                            </ng-container> -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="20"
                            [pageSizeOptions]="[10, 20, 30, 40, 50, 100]">
                        </mat-paginator>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-5">
                            <!-- <button type="submit" class="btn btn-success"
                                (click)="AssignCustomerToCP($event, row)">
                                Assign</button> &nbsp; -->
                            <button mat-raised-button class="btn btn-info mr-2"
                                (click)="AssignCustomerToCP()">Assign</button>
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="flag==1">
                    <div class="card-body" style="border-bottom:solid 1px #ccc">
                        <div class="">
                            <div class="row ">
                                <div class="col-lg-2 pt-3">
                                    <h5>Search Customer :</h5>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label for="CustomerCode">Customer Code</label>
                                        <input id="CustomerCode" type="text" class="form-control validate"
                                            name="CustomerCode" [(ngModel)]="CustCode" required>
                                        <span class="bar"></span>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label for="CustomerName">Customer Name</label>
                                        <input id="CustomerName" type="text" class="form-control validate"
                                            name="CustomerName" [(ngModel)]="CustName" required>
                                        <span class="bar"></span>

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="">
                                        <button class="btn btn-info  btn-block mt-3" type="submit" name="action"
                                            (click)="SearchCustomer()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="mat-elevation-z8">
                        <div class="example-container">
                            <h3>Customer List</h3>
                            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                                [cdkDropListConnectedTo]="[doneList]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div [ngModel]="" class="example-box" *ngFor="let item of todo" cdkDrag>{{item.NAME}}
                                </div>
                            </div>
                        </div>

                        <div class="example-container">
                            <h3>CP Customer List</h3>
                            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
                                [cdkDropListConnectedTo]="[todoList]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.NAME}}</div>
                            </div>
                        </div>
                    </div> -->
                    <div class="mat-elevation-z8 card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="example-container">
                                    <h4>Available Customer</h4>
                                    <div #activeList="cdkDropList" class="box-list" cdkDropList 
                                        [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inactiveList]"
                                        (cdkDropListDropped)="drop($event)">
                                        <div class="drag-box" *ngFor="let item of todo" cdkDrag>
                                            {{item.NAME}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="example-container">
                                    <h4>Assigned Customer</h4>
                                    <div #inactiveList="cdkDropList" class="box-list" cdkDropList [cdkDropListData]="done"
                                        [cdkDropListConnectedTo]="[activeList]" (cdkDropListDropped)="drop($event)">
                                        <div class="drag-box" *ngFor="let item of done" cdkDrag>
                                            {{item.NAME}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mb-5">
                                    <button mat-raised-button class="btn btn-info mr-2"
                                        (click)="UpdateCustomerToCP()">Update</button>
                                    <button type="button" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                      
                        
                        
                    </div>

                   

                </div>
            </div>
        </div>
    </div>
</div>