<!DOCTYPE HTML>
  <htmt>
<head>
 <link rel="shortcut icon" href="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
	<title>GOYA Food</title>

	<!-- CSS -->
	 <!--  <link rel="stylesheet" href="kendoUi/css/kendo.common.min.css"/>
  <link rel="stylesheet" href="kendoUi/css/kendo.default.min.css"/>
  <link rel="stylesheet" href="kendoUi/css/kendo.default.mobile.min.css"/> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style.css"/> <!-- custom styles -->
	<link rel="stylesheet" href="css/newcss.css"/>
  <link rel="stylesheet" href="css/jquery-ui.css"/>
	
 
	<!-- JS -->
  <script type="text/javascript" src="js/lib/jquery.js"/>
  <script src="js/lib/jquery/jquery-1.10.2.js"></script>
    <script src="js/lib/jquery/jquery-1.11.4-ui.js"></script> 
    <script src="js/lib/jquery/jquery-ui.js"></script>
    <script src="js/lib/angular/angular.min.js"></script>   
    <script src="js/lib/fastClick/fastclick.js"></script>	
    <script src="js/lib/soundManager.min.js"></script> 
     <script src="js/lib/requirejs/require.js"></script>
   <script src="js/lib/jquery-barcode.js"></script>

<script type="text/javascript" src="js/lib/google_maps.js"></script>
     
   <script>
   (function(){
    require.config({
          rlArgs: "bust="+new Date().getTime(),
          waitSeconds: 15,
          cacheSuffix: ".buildNumber"
          });
      setTimeout(function  () {
        require(['main', function(){

          }]);
      },0)
       
    }());
  $(document).ready(function () {

    if (navigator.appVersion.indexOf("Mac")!=-1) {
      $(document).on('scroll',function() {
       if($(window).scrollTop()>50){
        $('#fixedDiv').css('position','absolute');
         $('#fixedDiv').css('top',$(window).scrollTop()-80+'px');
         $('#fixedDiv').css('margin-top',-40+'px');
         $('#fixedDiv').css('z-index','99999');
       }
       if($(window).scrollTop() == 0){
        $('#fixedDiv').css('position','absolute');
         $('#fixedDiv').css('top',$(window).scrollTop()-120+'px');
         $('#fixedDiv').css('margin-top',0+'px');
         $('#fixedDiv').css('z-index','99999');
       }
        
       });
   }
    
   
    
  })
  
 

    /* bind events */

  </script>
	<!-- <script type="text/javascript" src="kendoUi/js/kendo.all.min.js"></script>
     <script type="text/javascript" src="kendoUi/js/kendo.angular.min.js"></script> -->
	<script src="js/lib/angular/angular-resource.min.js"></script>
	
    <script src="js/lib/angular-route/angular-ui-router.min.js"></script>
    <script src="js/lib/angular/angular-touch.js"></script>
    <script src="js/lib/jquery/underscore-min-1.8.3.js"></script>
	  <script src="js/lib/highcharts.js"></script>
        <script src="js/lib/highcharts-more.js"></script>
        <script src="js/lib/exporting.js"></script>
        
        
    <link href="acute/acute.select/acute.select.css" rel="stylesheet" />
    <script type="text/javascript" src="acute/acute.select/acute.select.js"></script>

 
		
</head>
<body id="idd" >
	<!-- HEADER -->
  <div userclick >
	<div ng-include="'includes/header.html'"></div>	
	 <div class="loader-class" ng-show="isLoading">
          <img src="./images/loader.gif"/>
          <p>Loading...</p>
      </div>

      <div class="modal fade" id="opp" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
    
        </div>
        <div class="modal-body">
          <p ng-if="online == true"><b>You are Online</b></p>
          <p ng-if="online == false"><b>You are Offline</b></p>
        </div>
      </div>
      
    </div>
  </div>

	<div ui-view ></div>
  </div>
	<!-- ANGULAR DYNAMIC CONTENT -->
	<!-- FOOTER -->
	<!-- <div ng-include="'includes/footer.html'"></div>	 -->

<!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
	<!--<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>-->
   <!-- <script src="js/lib/jquery/jquery-1.11.3.min.js"></script>-->
    <script src="js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="js/lib/bootstrap/bootstrap-datetimepicker.min.js"></script>
   

</body>
</html>
