		<section>
			<div class="col-md-12" style="both; float:left;width:100%; margin:0 auto;height:100px;">
			<div>
			<!-- Customer-details-bar end --> 
			<div class="container" id="quick-full-tab">
				<div class="borker-dtl1" >
					<!-- customer-details-record start -->
					<div class="col-md-12 customer-details-record newbokrtop ne clear-site-1">
						<div class="col-xs-12 col-sm-12 col-md-12  new-info-box1">
							<div class="col-xs-6 col-sm-6 col-md-2 new-info-head">
								<h2>Broker Details</h2>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-10  new-info-head  new-info-head11">
								<input type="text" class="form-control new-info-search1" id="exampleInputName4" ng-model="vm.brokeList" placeholder="Search Details">
							</div>
							<table style="width:100%;">
							</table>
							<div class="col-md-12  new-info-filter ">
								<ul>
									<li><input type="text" class="form-control datepicker1" id="exampleInputName1" datefrom-picker ng-model="vm.BrokeFromDate" placeholder="From Date"></li>
									<li><input type="text" datestockpicker ng-model="vm.BrokeToDate" class="form-control datepickerStock" id="exampleInputName2" placeholder=" To Date"></li>
									<li class="filter-new"><button type="button" class="btn btn-default" ng-click="vm.filterBrokerData()">Search</button></li>
									<li class="filter-new"><button type="button" class="btn btn-default" excel-convert  excel-data="vm.brokerData">Generate Excel</button></li>
								</ul>
							</div>
						</div>

						<table class="table1 newtab12">
								<thead>
									<tr class="newtab12">
										<th class="newtab12 col-xs-2 col-sm-2 col-md-2"><a  ng-click="vm.sortType = 'UserNo'; vm.sortReverse = !vm.sortReverse" class="toparrow">Broker  ID 
								          <span ng-show="vm.sortType == 'UserNo' && !vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
								          <span ng-show="vm.sortType == 'UserNo' && vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
								        </a></th>
										<th class="newtab12 col-xs-2 col-sm-2 col-md-2"><a  ng-click="vm.sortType = 'UserName'; vm.sortReverse = !vm.sortReverse" class="toparrow">Name
										<span ng-show="vm.sortType == 'UserName' && !vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
          								<span ng-show="vm.sortType == 'UserName' && vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span></a></th>
										<th class="newtab12 col-xs-2 col-sm-2 col-md-2"><a  ng-click="vm.sortType = 'Handheld'; vm.sortReverse = !vm.sortReverse" class="toparrow">Handheld
										<span ng-show="vm.sortType == 'Handheld' && !vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
          								<span ng-show="vm.sortType == 'Handheld' && vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span></a></th>
										<th class="newtab12 col-xs-2 col-sm-2 col-md-2">
										<a  ng-click="vm.sortType = 'Web'; vm.sortReverse = !vm.sortReverse" class="toparrow">Web
										<span ng-show="vm.sortType == 'Web' && !vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
          								<span ng-show="vm.sortType == 'Web' && vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span></a></th>
										<th class="newtab12 col-xs-2 col-sm-2 col-md-2"><a  ng-click="vm.sortType = 'EDI'; vm.sortReverse = !vm.sortReverse" class="toparrow">EDI
										<span ng-show="vm.sortType == 'EDI' && !vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
          								<span ng-show="vm.sortType == 'EDI' && vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span></a></th>
          								<th class="newtab12 col-xs-2 col-sm-2 col-md-2"><a  ng-click="vm.sortType = 'Total_Count'; vm.sortReverse = !vm.sortReverse" class="toparrow">Total
										<span ng-show="vm.sortType == 'Total_Count' && !vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
          								<span ng-show="vm.sortType == 'Total_Count' && vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span></a>
										
          							</th>
									</tr>
								</thead>
								</table>

								<span style="display:none;font-weight:bold;" id="headerRep"><b>Daily Count By Broker</b></span>
						<div class="clr-bkr"></div>
						<!-- customer-details-record start -->
						<div  class="boker-scroll">
						

			
    
							<table class="table1">
								
								<tbody>
									<tr ng-repeat="broker in vm.brokerData | orderBy:vm.sortType:vm.sortReverse | filter:vm.brokeList">
										<td class="custid-col newtab12 col-xs-2 col-sm-2 col-md-2"> {{broker.UserNo}}</td>
										<td class="newtab12 col-xs-2 col-sm-2 col-md-2">{{broker.UserName}}</td>
										<td class="newtab12 col-xs-2 col-sm-2 col-md-2">{{broker.Handheld}}</td>
										<td class="newtab12 col-xs-2 col-sm-2 col-md-2">{{broker.Web}}</td>
										<td class="newtab12 col-xs-2 col-sm-2 col-md-2">{{broker.EDI}}</td>
										<td class="newtab12 col-xs-2 col-sm-2 col-md-2">{{broker.EDI+broker.Web+broker.Handheld}}</td>
									</tr>
								</tbody>
								
							</table>
							</div>
						</div>
					</div>
					<style>
						.new-info-search1{
						width: 40%;
						float: left;
						margin-top: 7px;
						}
						.filter-new{
						width:16% !important;
						}
						.new-info-box1 th{
						padding: 12px !important;
						}
						.table1{
					    width: 100%;
                        max-width: 100%;


                       background-color: #fff;

					}
					.newscrol1{
					overflow-y: scroll;
                    height: 420px;
					}
						.newtab12{
						padding:15px !important;
						font-size:12px;
						font-weight: bold;
						}
						.newtab12 a{
							cursor: pointer;
						}
						.borker-dtl1{
						clear: both;
						margin: 0 auto;
						width: 100%;
						margin-top: 59px;
						}
						.borker-dtl1 fivbut1 {
						background-color: #00377b;
						color: #fff;
						margin-bottom: 10px;
						margin-right: 2%;
						width: 16%;
						border-radius: 100px;
						}
						.newbokrtop{
							margin-top: 26px;
						}
						.clr-bkr{
							height: 110px;
							width: 100%;
							float: left;
							display: none;
						}
						.borker-dtl1 .right-pad{
						padding-right: 0;
						}	
						.borker-dtl1 .btmm-control{
						text-align: center;
						width: 100%;
						float: left;
						background-color: #ffffff;
						/* padding: 8px 10px; */
						padding-top: 12px;
						margin-bottom: 20px;}	
						.customer-details-record {
						background-color: #fff;
						box-shadow: 1px 1px 7px -1px gray;
						height: auto;
						}
						.borker-dtl1 .new-sys-info1 p{
						margin-bottom:0;
						}
						.borker-dtl1 .new-sys-info{
						background-color: #ffffff;
						height: auto;
						padding: 10px 10px;
						margin-bottom: 5px;
						box-shadow: 0px 1px 3px 0px #979797;
						}
						.borker-dtl1 .new-sys-icon{
						padding: 0;
						background-color: #ffffff;
						border-radius: 100px;
						/* padding: 3px; */
						}
						.borker-dtl1 .new-sys-icon img{
						height: 58px;
						width: 100%;
						opacity: .4;
						}
						.borker-dtl1 .new-info-filter ul{
						float:left;
						list-style:none;
						padding-left:0;
						width:100%;
						}
						.borker-dtl1 .new-info-filter ul li{
						    float: left;
							list-style: none;
						    width: 24%;
							padding-right: 8px;
						}
						.borker-dtl1 .new-info-filter ul li .form-control{
						width: 100%;
						border-radius: 0;
						font-size: 11px;
						font-weight: bold;
						color: black;
						}
						.borker-dtl1 .new-info-box1{
						height: auto;
						padding-bottom: 20px;
						padding: 0;
					
						}
						.borker-dtl1 .new-info-filter{
						background-color: #fff;
						font-size: 19px;
						/* margin-top: 15px; */
						height: auto;
						padding: 3px 11px;
						padding-top: 13px;
						}
						.boker-scroll{
						overflow-y: scroll;
						width: 100%;
						height: 420px;	
						}
						.borker-dtl1 .new-info-head{
						background-color:#0c3d78;
						height:50px;
						}
						.borker-dtl1 .new-info-head h2{
						color: #fff;
						font-size: 19px;
						margin-top: 15px;
						}
						.borker-dtl1 .borker-dtl1 .filter-new{
						width: 20% !important;
						}
						.borker-dtl1 .filter-new .btn-default{
						width: 100% !important;
						width: 100% !important;
						background-color: #f3bd24;
						border: 1px solid #f3bd24;
						border-radius: 0;
						}
						.borker-dtl1 .neww-boxx1{
						border: 1px solid #dedede;
						box-shadow: 1px 1px 10px 0px gainsboro;
						}
						@media only screen and (min-width:230px) and (max-width:992px){
						.borker-dtl1 {
						clear: both;
						margin: 0 auto;
						width: 100%;
						margin-top: 59px;
						}
						.borker-dtl1 .new-sys-icon img {
						height: 58px;
						opacity: .4;
						margin-bottom: 10px;
						padding-left: 10px;
						width: auto;
						}
						.borker-dtl1 .new-info-head {
						background-color: #0c3d78;
						height: 50px;
						padding-top: 1px;
						}
						.borker-dtl1 .new-info-filter {
						height: 60px;
						}
						.new-info-search1 {
						width: 96%;
						float: right;
						margin-top: 7px;
						}
						}
						@media only screen and (min-width:230px) and (max-width:992px){
						.customer-details-record {
						display:block !important;
						}
						}
						@media only screen and (min-width:230px) and (max-width:600px){
						.borker-dtl1 .new-info-head h2 {
						font-size: 13px;
						margin-top: 17px;
						}
						.borker-dtl1 .new-info-filter ul li {
						width: 50%;
						}
						.filter-new {
						width: 50% !important;
                        margin-top: 10px;
						}
						.boker-scroll{
						
						float: left;
						width: 100%;
						font-size: 12px;
						}
						.table1 th{
						font-size:8px;
						}
						.newtab12 {
						padding: 11px !important;
						font-size: 9px;
						font-weight: bold;
						}
						.newtab12 a{
							cursor: pointer;
						}
						.toparrow {
							color: #fff;
							font-size: 9px;
							color: #fff;
							}
						}
						@media only screen and (min-width:768px) and (max-width:1040px){
						.boker-scroll{
						overflow-y: scroll;
						width: 100%;
						height: 490px;	
						}
					}
					</style>
				</div>
				<!-- pagination-dtl end -->
			</div>
			<!-- container end -->
		</section>