	<!-- Customer-details-bar end --> 
				<div class="container" id="quick-full-tab">
					<div class="col-md-12 customer-details-record clear-site-1" style="    margin-top: 120px;">
						<!-- customer-details-record start -->
						<div class="col-md-7  new-info-graph">

<div class="new-info-btn btm-cont">

 <button type="button" class="btn btn-default newconrol" ng-class="{'activeGraph':vm.setGraphDetail.type == 'pie'}" ng-click="vm.showGraphData('pie')">Browsers Usage</button>
  <button type="button" ng-class="{'activeGraph':vm.setGraphDetail.type == 'bar'}" class="btn btn-default newconrol" ng-click="vm.showGraphData('bar')">Devices Usage</button>
   <button type="button" ng-class="{'activeGraph':vm.setGraphDetail.type == 'column'}" class="btn btn-default newconrol" ng-click="vm.showGraphData('column')">Screen Usage</button>

            
            </div>


							<!-- <img src="images/charts.png"> -->
							<graph-details data="vm.setGraphDetail"></graph-details>
						</div>
						<div class="col-md-4  new-info-graph">
							<!-- <img src="images/charts.png"> -->
						</div>
						
						<div class="col-md-4  new-info-box1">
							<div class="col-md-12  new-info-head">
								<h2>Filters</h2>
							</div>
							<div class="col-md-12  new-info-filter ">
								<ul>
									<li><input type="text" class="form-control" id="exampleInputName2" ng-model="brokName" placeholder="Broker Name "></li>
									<li><input type="text" class="form-control" id="exampleInputName2" ng-model="FromDate" placeholder="From Date"></li>
									<li><input type="text" ng-model="ToDate" class="form-control" id="exampleInputName2" placeholder=" To Date"></li>
									<li class="filter-new"><button type="button" ng-click="vm.setActivityFilterData(brokName,FromDate,ToDate)" class="btn btn-default">Search</button></li>
								</ul>
							</div>

							<div class="filter-device">
							<div class="col-md-12  new-sys-info" ng-repeat="userActivity in vm.showActivityDetails">
								<div class="col-md-2  new-sys-icon"><img src="images/system-icon.jpg" > </div>
								<div class="col-md-5  new-sys-info1 filternew" >
									<p><b>brokers:-</b>{{userActivity.UserID}}</p>
									<p><b>System:-</b>{{userActivity.DeviceType}}</p>
								</div>


                             <div class="col-md-5  new-sys-info1 filternew" >
									<p><b>Browser:-</b>{{userActivity.BrowserName}}</p>
									<p><b>Screen:-</b>{{userActivity.PageName}}</p>
								</div>
                               </div>
							</div>
							<!--box-1-->
							
							<!--box-1-->
							
							<!--box-1-->
						</div>
						<!-- <div class="col-md-4  new-info-graph">
							<img src="images/charts.png">
						</div> -->
					</div>

					<style>
					.newconrol{
    background-color: #01459a;
    border: 1px solid #01459a;
    border-radius: 0;
    color: #fff;
    padding:8px 26px;
    /* border-radius: 100px; */
    width: 33%;
    float: left;
    border-right: 1px solid white;
					}
					.newconrol:hover{
    color: #fff;
    background-color: #f3bd24;
    border-color: #f3bd24;
}
					.newconrol:focus{
    color: #fff;
    background-color: #f3bd24;
    border-color: #f3bd24;
}
					.btm-cont{
						    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 10px;
    padding-bottom: 1px;
    height: 53px;

    margin-top: 11px;
    /* float: left; */
    text-align: center;
    margin-bottom: 20px;
					}
					.customer-details-record {
						background-color: #fff;
						box-shadow: 1px 1px 7px -1px gray;
						height: auto;
						}
						.new-sys-info1 p{
						margin-bottom:0;
						}
						.new-sys-info{
						background-color: #ffffff;
						height: auto;
						padding: 10px 10px;
						margin-bottom: 5px;
						box-shadow: 0px 1px 3px 0px #979797;
						}
						.new-sys-icon{
						padding: 0;
						background-color: #ffffff;
						border-radius: 100px;
						/* padding: 3px; */
						border: 1px solid #a5a5a5;
						}
						.new-sys-icon img{
						height: 58px;
						width: 100%;
						opacity: .4;
						padding: 7px;
						}
						.new-info-filter ul{
						float:left;
						list-style:none;
						padding-left:0;
						}
						.new-info-filter ul li{
						float:left;
						list-style:none;
						width:26%;
						}
						.new-info-filter ul li .form-control{
						width: 100%;
						border-radius: 0;
						font-size: 11px;
						font-weight: bold;
						color: black;
						}
						.new-info-graph{
						/* background-color: #ebebeb; */
						height: auto;
						padding-top: 28px;
						padding-bottom: 20px;
						text-align: center;
						vertical-align: middle;
						
						}
						.new-info-box1{
						height: auto;
						padding-bottom: 20px;
						padding: 0;
						padding-bottom: 33px;
						}
						.new-info-filter{
						background-color: #01459A;
						font-size: 19px;
						/* margin-top: 15px; */
						height: auto;
						padding: 3px 11px;
						padding-top: 13px;
						}
						.new-info-head{
						background-color:#0c3d78;
						height:50px;
						}
						.new-info-head h2{
						color: #fff;
						font-size: 19px;
						margin-top: 15px;
						}
						.filter-new{
						width: 20% !important;
						}
						.filter-new .btn-default{
						width: 100% !important;
						width: 100% !important;
						background-color: #f3bd24;
						border: 1px solid #f3bd24;
						border-radius: 0;
						}
						.neww-boxx1{
						border: 1px solid #dedede;
						box-shadow: 1px 1px 10px 0px gainsboro;
						}


					</style>
				</div>