<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Customize Customer</h3>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <form class="mt-4">
                            <div class="row form-material">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="client">Select Client <span style="color: red;">(*)</span></label>
                                        <select class="form-control p-0" id="client" name="client" [(ngModel)]="client"
                                            (change)="changeSuit()">
                                            <option value="">--Select client--</option>
                                            <option *ngFor="let company of Company" [value]="company.ClientName">
                                                {{company.CompanyName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailConfig">Customer data come from </label>
                                        <div class="custom-control custom-radio">
                                            <input id="IsERP" type="radio" class="custom-control-input" value="IsERP"
                                                name="CustomerData" [(ngModel)]="CustomerData">
                                            <label class="custom-control-label" for="IsERP">IsERP</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input id="IsOthers" type="radio" class="custom-control-input"
                                                value="IsOthers" name="CustomerData" [(ngModel)]="CustomerData">
                                            <label class="custom-control-label" for="IsOthers">IsOthers</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="paymentmethod">Payment Method <span
                                                style="color: red;">(*)</span></label>
                                        <!-- <select class="form-control p-0" id="paymentmethod" name="paymentmethod"
                                            [(ngModel)]="paymentmethod" multiple>
                                            <option *ngFor="let method of PayMethod" [value]="method.id">
                                                {{method.name}}</option>
                                        </select> -->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="example-container">
                                        <label for="cdkDropList">Available Payment Options</label>
                                        <div #activeList="cdkDropList" class="box-list" cdkDropList
                                            [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inactiveList]"
                                            (cdkDropListDropped)="drop($event)">
                                            <div class="drag-box" *ngFor="let item of todo" cdkDrag>
                                                {{item.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="example-container">
                                        <label for="cdkDropList">Assigned Payment Options</label>
                                        <div #inactiveList="cdkDropList" class="box-list" cdkDropList
                                            [cdkDropListData]="done" [cdkDropListConnectedTo]="[activeList]"
                                            (cdkDropListDropped)="drop($event)">
                                            <div class="drag-box" *ngFor="let item of done" cdkDrag>
                                                {{item.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info mr-2" (click)="Save()">
                                            Submit</button> &nbsp;
                                        <button type="button" class="btn btn-secondary"
                                            (click)="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>