﻿<div class="jumbotron">
    <h1>OMS WebApi</h1>
    Running...
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>
