﻿<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">

    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li *ngIf="userRole==='CollectionAdmin'">
          <a class="waves-effect waves-dark" routerLink="/myQueue" routerLinkActive="active" aria-expanded="false">
            <i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span>
          </a>
        </li>

        <!-- <li *ngIf="userRole==='CollectionAdmin'">
          <a class="has-arrow waves-effect waves-dark" href="JavaScript:void(0)" aria-expanded="false">
            <i class="fas fa-sign-in-alt"></i><span class="hide-menu">Collect Person</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/addPerson" routerLinkActive="active">Create Profile</a></li>
            <li><a routerLink="/viewPerson" routerLinkActive="active">Collector List</a></li>
          </ul>
        </li> -->

        <li *ngIf="userRole==='CollectionAdmin'">
          <a class="waves-effect waves-dark" routerLink="/addPerson" routerLinkActive="active" aria-expanded="false">
            <i class="fas fa-sign-in-alt"></i><span class="hide-menu">Create Profile</span>
          </a>
        </li>

        <!-- <li *ngIf="userRole==='CollectionAdmin'">
          <a class="has-arrow waves-effect waves-dark" href="JavaScript:void(0)" aria-expanded="false">
            <i class="fas fa-user"></i><span class="hide-menu">Customer</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li *ngIf="CompanyId==='2'"><a routerLink="/assignCustomer" routerLinkActive="active">Assign Customer</a>
            </li>
            <li><a routerLink="/allCustomer" routerLinkActive="active">CP-Customer</a></li>
          </ul>
        </li> -->

        <li *ngIf="userRole==='CollectionAdmin'">
          <a class="waves-effect waves-dark" routerLink="/viewPerson" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-list"></i><span class="hide-menu">Collector List</span>
          </a>
        </li>

        <li *ngIf="userRole==='CollectionAdmin' && CompanyId==='2'">
          <a class="waves-effect waves-dark" routerLink="/assignCustomer" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-user"></i><span class="hide-menu">Assign Customer</span>
          </a>
        </li>
        
        <li *ngIf="userRole==='CollectionAdmin'">
          <a class="waves-effect waves-dark" routerLink="/allCustomer" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-list"></i><span class="hide-menu">CP-Customer</span>
          </a>
        </li>

        <li *ngIf="userRole==='CollectionAdmin'">
          <a class="waves-effect waves-dark" routerLink="/emailConfig" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i><span class="hide-menu">Email Config </span>
          </a>
        </li>

        <li *ngIf="userRole==='SuperAdmin'" style="display: none;">
          <a class="waves-effect waves-dark" routerLink="/createCom" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="hide-menu">Create Company </span>
          </a>
        </li>

        <li *ngIf="userRole==='SuperAdmin'" style="display: none;">
          <a class="waves-effect waves-dark" routerLink="/viewCompany" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-eye" aria-hidden="true"></i><span class="hide-menu">Company List </span>
          </a>
        </li>

        <li *ngIf="userRole==='SuperAdmin'" style="display: none;">
          <a class="waves-effect waves-dark" routerLink="/uiCustom" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i><span class="hide-menu">Customer Customization </span>
          </a>
        </li>

        <li *ngIf="userRole==='SuperAdmin'" style="display: none;">
          <a class="waves-effect waves-dark" routerLink="/customUX" routerLinkActive="active" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i><span class="hide-menu">UI Customization </span>
          </a>
        </li>
      </ul>
    </nav>

    <!--<nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a class=" waves-effect waves-dark" href="JavaScript:void(0)" aria-expanded="false">
            <i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span>
          </a>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <i class="mdi mdi-laptop-windows"></i><span class="hide-menu">Collect Personal</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="add-collect-personal.html">Add </a></li>
            <li><a href="all-collect-personal.html">View</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <i class="ti-user"></i><span class="hide-menu">Customer</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="asign-customer.html">Assign Customer</a></li>
            <li><a href="all-customer.html">All Customer</a></li>
          </ul>
        </li>


      </ul>
    </nav>-->
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <div class="sidebar-footer text-center">
    <p class="pt-3">Version : {{version}}</p>
  </div>
  <!-- End Bottom points-->
</aside>