<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Company List</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <div class="">
                            <!-- headre Filter -->

                            <div class="row form-material">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="fromDate">From Date</label>
                                        <input type="date" class="form-control" [(ngModel)]="startdate"
                                            name="startdate" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="toDate">To Date</label>
                                        <input type="date" class="form-control" [(ngModel)]="todate" name="todate" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="CompName">Company Name</label>
                                        <input id="CompName" type="text" class="form-control validate" name="CompName"
                                            [(ngModel)]="CompName" required>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="">
                                        <button class="btn btn-info  btn-block mt-3" type="submit" name="action"
                                            (click)="Search()">Search</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- headre Filter -->

                    <!-- Material Table -->
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
                            style="font-size: smaller">

                            <ng-container matColumnDef="CompanyName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Company Name</b></th>
                                <td mat-cell *matCellDef="let row "> {{row.CompanyName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ContactNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Contact No</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.ContactNo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="EmailId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>EmailId</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.EmailId}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ContactPerson">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Contact Person</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.ContactPerson}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ContactPersonEmail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Contact Person Email</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.ContactPersonEmail}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CompanyAddress">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Address</b> </th>
                                <td mat-cell *matCellDef="let row"> {{row.CompanyAddress}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CreatedOn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Created Date</b> </th>
                                <td mat-cell *matCellDef="let row">{{row.CreatedOn}}</td>
                            </ng-container>

                            <ng-container matColumnDef="IsActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Status</b> </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.IsActive}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef><b>Actions</b> </th>
                                <td mat-cell *matCellDef="let row">
                                    <a (click)="editCompanydata('custom-modal-1',row.CompanyName, row.ContactNo, row.EmailId, row.Fax,row.ContactPerson, row.ContactPersonEmail, row.CompanyURL, row.Street,row.City,row.StateId,row.CountryId,row.Zip, row.CompanyId)"
                                        class="invoice-action-view mr-3 pointer">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>

                                    <a (click)="deleteCompanydata(row.CompanyId)"
                                        class="invoice-action-view mr-3 pointer">
                                        <span style="color: red;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                    </a>
                                    <label class="switch">
                                        <input type="checkbox" name="Selected"
                                            (click)="UpdateStatus(row.CompanyId, $event)"
                                            [checked]="row.IsActive=='Active'">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>

                        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>

                    </div>
                    <!-- Material Table -->

                </div>
            </div>
        </div>
    </div>
</div>


<jw-modal id="custom-modal-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title text-white">Update Company Details</h4>
                <button mat-button class="close" (click)="closeModal('custom-modal-1');">×</button>
            </div>

            <div class="col-md-12">
                <div class="card-body">
                    <form class="mt-4">
                        <div class="row form-material">
                            <div class="col-md-6" style="display: none;">
                                <div class="form-group">
                                    <label for="EdCompanyId">CompanyId</label>
                                    <input type="text" class="form-control" id="EdCompanyId" name="EdCompanyId"
                                        [(ngModel)]="EdCompanyId">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="CompanyName">Company Name</label>
                                    <input type="text" class="form-control" id="CompanyName" name="CompanyName"
                                        [(ngModel)]="CompanyName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Contact">Contact No</label>
                                    <input type="text" class="form-control" id="Contact" name="Contact" maxlength="12"
                                        [(ngModel)]="Contact">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EdEmailId">Email ID </label>
                                    <input type="email" class="form-control" id="EdEmailId" name="EdEmailId"
                                        [(ngModel)]="EdEmailId">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EdFax">Fax </label>
                                    <input type="text" class="form-control" id="EdFax" name="EdFax" [(ngModel)]="EdFax"
                                        maxlength="12">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ContactPName">Contact Person</label>
                                    <input type="tel" class="form-control" id="ContactPName" name="ContactPName"
                                        [(ngModel)]="ContactPName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="CPEmail">Contact Person Email</label>
                                    <input type="text" class="form-control" id="CPEmail" name="CPEmail"
                                        [(ngModel)]="CPEmail">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EdURL">Company URL</label>
                                    <input type="text" class="form-control" id="EdURL" name="EdURL" [(ngModel)]="EdURL">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EdStreet">Street</label>
                                    <input type="text" class="form-control" id="EdStreet" name="EdStreet"
                                        [(ngModel)]="EdStreet">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EdCity">City</label>
                                    <input type="text" class="form-control" id="EdCity" name="EdCity"
                                        [(ngModel)]="EdCity">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Edcountry">Country</label>
                                    <select class="form-control p-0" id="Edcountry" name="Edcountry"
                                        [(ngModel)]="Edcountry" (change)="onChangeCountry($event.target.value)">
                                        <option value="">Select country...</option>
                                        <option *ngFor="let country of countries" [value]="country.CountryCode">
                                            {{country.CountryName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EDState">State</label>
                                    <select class="form-control p-0" id="EDState" name="EDState" [(ngModel)]="EDState">
                                        <option *ngFor="let state of states" [value]="state.StateCode">
                                            {{state.StateName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EdZip">Zip </label>
                                    <input type="number" class="form-control" id="EdZip" name="EdZip"
                                        [(ngModel)]="EdZip" maxlength="6">
                                </div>
                            </div>
                            <div class="col-md-12">&nbsp;&nbsp;</div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info mr-2" (click)="UpdateCompanyDetails()">
                                        Update</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="card-footer text-right">
                <button mat-button class="btn btn-dark" (click)="closeModal('custom-modal-1');"
                    style="background-color:rgb(95, 93, 93);">Close</button>
            </div>
        </div>
    </div>
</jw-modal>