.dark-text tr td {
  color: rgb(0, 0, 0);
}

.cdk-column-Paymentimage {
  padding-left: 0;
}

mat-cell.cdk-column-Paymentimage {
  padding-left: 0;
  text-align: center;
  border-right: solid 1px rgba(0, 0, 0, .12);
  border-left: solid 1px rgba(0, 0, 0, .12);
}

.form-material .form-control {
  font-size: 14px;
  color: #000;
}

.form-material .form-group {
  margin: 0;
}

.form-material label {
  margin-bottom: 0;
  font-size: 13px;
}

.ImageTable .mat-cell {
  display: block;
}

.ImageTable img {
  max-height: 150px;
  padding: 10px;
}

table {
  width: 100%;
}

.AngCustomClas {
  padding: 0px;
}

#example tr td:first-child {
  width: 42%;
}

.AngCustomClas table tr td:first-child {
  border-left: 0;
  border-top: 0;
}

.AngCustomClas table tr td:last-child {
  border-right: 0;
  border-top: 0;
}

tr.mat-header-row {
  background: #f5f5f5;
  border-top: solid 1px rgba(0, 0, 0, .12)
}

.invoice-action-view {
  color: #1e88e5 !important;
}

.btn-custom {
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #fff;
  background-color: #03a9f4;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.floating-labels .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
}

table.bordered td, table.bordered th {
  padding: 7px !important;
  border: 1px solid rgba(0, 0, 0, .12) !important;
}

.btn-customRed {
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #fff;
  background-color: #f78383;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.responsive-table {
  padding: 15px;
}

.zqwtyu thead tr {
  font-size: 12px;
  color: #000;
  background: #dddddd;
}

.paddingcustom {
  padding: 15px 0;
}

mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: rgba(0, 0, 0, .12);
}

mat-cell[_ngcontent-qbx-c121], mat-header-cell[_ngcontent-qbx-c121], mat-footer-cell[_ngcontent-qbx-c121] {
  min-width: 78px;
}

mat-cell, mat-header-cell, mat-footer-cell {
  color: #222;
}

mat-cell.mat-cell {
  padding-right: 5px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

/* 
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 10px;
  } */

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 24px;
  text-align: left;
}

.mat-elevation-z8 {
  font-size: 13px;
  color: #333;
}

.pointer {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  vertical-align: middle;
  margin-top: 8px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A1A6AB;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;;
}

/* input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.round {
  line-height: unset;
  width: auto;
  height: auto;
}

.round img {
  border-radius: 100%;
}

/* .switch-container {
  padding: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    color: #ccc;
    height: 18px;
    padding: 6px 6px 5px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ececec;
    cursor: pointer;
    font-size: 14px;
}
body.IE7 .switch {
    width: 78px;
}
.switch span {
    display: inline-block;
    width: 35px;
}
.switch span.on {
    color: #5cbacc;
    margin-left: 5px;
}
.switch span.off {
    margin-left: 10px;
}
.switch .toggle {
    position: absolute;
    top: 1px;
    width: 40px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    z-index: 999;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}
.switch.on .toggle {
    left: 1%;
}
.switch.off .toggle {
    left: 56%;
} */

/* table {
    width: 100%;
  }
  mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgba(0,0,0,.12);
  }
  
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 10px;
  }
  
  mat-cell, mat-header-cell, mat-footer-cell {padding-right: 10px;}
  
  .mat-elevation-z8{font-size: 13px;}
  
  .full-width-table {
    width: 100%;
  }
  
  .mat-column-select {
    overflow: initial;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
  ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #222d32 !important;
  }
  
  .btn-custom{
    cursor: pointer;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      text-align: center;
      text-decoration: none;
      letter-spacing: .5px;
      color: #fff;
      background-color: #03a9f4;
      border: none;
      border-radius: 4px;
      padding: 5px;
  }
  
  table.bordered td, table.bordered th {
    padding: 7px !important;
    border: 1px solid rgba(0,0,0,.12) !important;
  }
  
  .btn-customRed{
    cursor: pointer;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      text-align: center;
      text-decoration: none;
      letter-spacing: .5px;
      color: #fff;
      background-color: #f78383;
      border: none;
      border-radius: 4px;
      padding: 5px;
  }
  .responsive-table{padding: 15px;}
  .zqwtyu thead tr {font-size: 12px; color: #000; background: #dddddd;}
  .paddingcustom{padding: 15px 0;}
  
  
  
   */