<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Collect Person List</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <div class="">
                            <!-- headre Filter -->

                            <div class="row form-material">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="fromDate">From Date</label>
                                        <input type="date" class="form-control" [(ngModel)]="startdate"
                                            name="startdate" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="toDate">To Date</label>
                                        <input type="date" class="form-control" [(ngModel)]="todate" name="todate" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="CPName">Name</label>
                                        <input id="CPName" type="text" class="form-control validate" name="CPName"
                                            [(ngModel)]="CPName" required>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="EmailId">EmailId</label>
                                        <input id="EmailId" type="text" class="form-control validate" name="EmailId"
                                            [(ngModel)]="EmailId" required>

                                    </div>
                                </div>

                                <!--<div class="col-md-2">
                        <div class="form-group  focused">
                          <select class="form-control" id="InvStatus" name="InvStatus" [(ngModel)]="InvStatus" (change)="onChangeInvStatus($event.target.value)" required >
                            <option value="all">All</option>
                            <option value="Sent to office">Sent To Office</option>
                            <option value="approved">Approved</option>
                            <option value="rejected">Rejected</option>
                        </select>
                        <span class="bar"></span>
                        <label class="active" for="InvStatus"></label> 
                        </div>
                      </div>-->

                                <div class="col-md-2">
                                    <div class="">
                                        <button class="btn btn-info  btn-block mt-3" type="submit" name="action"
                                            (click)="SearchInvoice()">Search</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- headre Filter -->

                    <!-- Material Table -->
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="font-size: smaller">

                            <ng-container matColumnDef="CPCODE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>CP Code</b></th>
                                <td mat-cell *matCellDef="let row "> {{row.CPCODE}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CPNAME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.CPNAME}} </td>
                            </ng-container>

                            <ng-container matColumnDef="EmailId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>EmailId</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.EmailId}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ContactNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Contact No</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.ContactNo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CPAddress">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>CP Address</b> </th>
                                <td mat-cell *matCellDef="let row"> {{row.CPAddress}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CreatedDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Created Date</b> </th>
                                <td mat-cell *matCellDef="let row">{{row.CreatedDate}}</td>
                            </ng-container>

                            <ng-container matColumnDef="IsActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Status</b> </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.IsActive}}
                                    <!-- <a (click)="updateCPStatus(row.CPCODE)" class="invoice-action-view font-16 pointer">
                                        <i class="icon-refresh"></i>
                                    </a> -->

                                    <!-- <input type="checkbox" [(ngModel)]="Selected" name="Selected" (click)="updateCPStatus(row.CPCODE,)">
                                    <div class="switch">
                                        <div class="toggle"></div>
                                        <span class="on">YES</span><span class="off">NO</span>
                                    </div> -->

                                    <!-- <label class="switch">
                                        <input type="checkbox" name="Selected"
                                            (click)="updateCPStatus(row.CPCODE, $event)" [(ngModel)]="CPStatus" [checked]="row.IsActive=='Active'"
                                            (change)="chenge(row.IsActive);">
                                        <span class="slider round"></span>
                                    </label> -->
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef><b>Actions</b> </th>
                                <td mat-cell *matCellDef="let row">
                                    <a (click)="editCollectPersondata('custom-modal-1',row.CPNAME, row.address, row.ContactNo, row.Zone, row.CPCODE, row.City, row.EmailId, row.CountryId, row.StateCode, row.ZipCode)"
                                        class="invoice-action-view mr-3 pointer">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>

                                    <a (click)="deleteCollectPersondata(row.CPCODE)"
                                        class="invoice-action-view mr-3 pointer">
                                        <span style="color: red;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                    </a>
                                    <label class="switch">
                                        <input type="checkbox" name="Selected"
                                            (click)="updateCPStatus(row.CPCODE, $event)"
                                            [checked]="row.IsActive=='Active'">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>

                        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>

                    </div>
                    <!-- Material Table -->

                </div>
            </div>
        </div>
    </div>
</div>

<jw-modal id="custom-modal-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title text-white">Update Collect Person</h4>
                <button mat-button class="close" (click)="closeModal('custom-modal-1');">×</button>
            </div>

            <div class="col-md-12">
                <div class="card-body">
                    <form class="mt-4">
                        <div class="row form-material">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="CPCode">Collect Person Code</label>
                                    <input type="text" class="form-control" id="CPCode" name="CPCode" disabled
                                        [(ngModel)]="CPCode">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="PersonName">Collect Person Name</label>
                                    <input type="text" class="form-control" id="PersonName" name="PersonName"
                                        [(ngModel)]="PersonName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EmailId">Email ID </label>
                                    <input type="email" class="form-control" id="EmailId" name="EmailId"
                                        [(ngModel)]="edEmailId">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Mobile">Mobile</label>
                                    <input type="tel" class="form-control" id="Mobile" name="Mobile" maxlength="12"
                                        [(ngModel)]="Mobile">
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="CompanyId">Company Name</label>
                                    <select class="form-control p-0" id="CompanyId" name="CompanyId"
                                        [(ngModel)]="CompanyId">
                                        <option *ngFor="let company of companyList" [value]="company.CompanyID">
                                            {{company.CompanyName}}</option>
                                    </select>

                                </div>
                            </div> -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Address">Address</label>
                                    <input type="text" class="form-control" id="Address" name="Address" multiple
                                        [(ngModel)]="Address">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="City">City</label>
                                    <input type="text" class="form-control" id="City" name="City" [(ngModel)]="City">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Zone">Zone / Area</label>
                                    <input type="text" class="form-control" id="Zone" name="Zone" [(ngModel)]="Zone">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select class="form-control p-0" id="country" name="country" [(ngModel)]="CountryId"
                                        (change)="onChangeCountry($event.target.value)">
                                        <option value="">Select country...</option>
                                        <option *ngFor="let country of countries" [value]="country.CountryCode">
                                            {{country.CountryName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="State">State</label>
                                    <select class="form-control p-0" id="State" name="State" [(ngModel)]="StateId">
                                        <option *ngFor="let state of states" [value]="state.StateCode">
                                            {{state.StateName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Zip">Zip </label>
                                    <input type="number" class="form-control" id="Zip" name="Zip" [(ngModel)]="Zip"
                                        maxlength="6">
                                </div>
                            </div>
                            <div class="col-md-12">&nbsp;&nbsp;</div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info mr-2"
                                        (click)="UpdateCollectPersonalData()">
                                        Update</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="card-footer text-right">
                <button mat-button class="btn btn-dark" (click)="closeModal('custom-modal-1');"
                    style="background-color:rgb(95, 93, 93);">Close</button>
            </div>
        </div>
    </div>
</jw-modal>