﻿@model OMSWebApi.Models.ApplicationAccessMapping


@*<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>*@

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/webgrid.css" rel="stylesheet" />*@

<div style="width:100%;float:left;padding-bottom:50px;">
    @*<h4>Add/Update</h4>*@
    <a href="javascript://" id="btnAddNew">Add New(+)</a>

    @{if (Model != null)
    {
        var grid = new WebGrid(Model.AppAccessMapList, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent"); grid.Pager(WebGridPagerModes.NextPrevious);
        <div id="gridContent" class="articleHeader article_lst" style="overflow: auto; width:1400px; position:relative; border: none">

            @Html.Hidden("HdnApplicationDDL", @Html.DropDownListFor(m => m.TempApplicationDDL, new SelectList(Model.ApplicationList, "CodeId", "Value1", 0), "-- Select --"))
            @Html.Hidden("HdnAccessTypeDDL", @Html.DropDownListFor(m => m.TempAccessTypeDDL, new SelectList(Model.AccessTypeList, "CodeId", "Value1", 0), "-- Select --"))
            @Html.Hidden("HdnAccessControlDDL", @Html.DropDownListFor(m => m.TempAccessControlDDl, new SelectList(Model.AccessControlList, "CodeId", "Value1", 0), "-- Select --"))

            @grid.GetHtml(tableStyle: "webgrid-table",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "select",
            columns: grid.Columns(
             grid.Column("",
             style: "colBtnWidth",
                    format: @<text><div style="padding-left:20px;">
                            <button class="btn_grid edit-item display-mode" id="@item.AccessId">E</button>
                            <button class="btn_grid display-mode delete-item" id="@item.AccessId">D</button>
                            <button class="btn_grid save-item edit-mode" id="@item.AccessId">S</button>
                            <button class="btn_grid cancel-item edit-mode" id="@item.AccessId">C</button>
                        </div>
                    </text>),
            grid.Column(columnName:"AccessId", header:"ID"),
            grid.Column(columnName:"ApplicationName", header:"App Name",
                    style: "col2",
                    format: @<text>
                        <span id="ApplicationName" class="display-mode">@item.ApplicationName</span>
                        @Html.DropDownListFor(model => model.ApplicationName, new SelectList(Model.ApplicationList, "CodeId", "Value1", item.ApplicationId), "-- Select --", new { @class = "clsAppName edit-mode" })
                        @Html.Hidden("HdnApplicationId-Edit", (int)item.ApplicationId, new { @class = "edit-mode" })
                    </text>),

            @*grid.Column("ParentAccessId",
                style: "col2",
                format: @<text>
                    <span id="ParentAccessId" class="display-mode">@Convert.ToInt32(item.ParentAccessId)</span>
                    @Html.TextBox("RoleName-Edit", (int)item.ParentAccessId, new { @class = "edit-mode" })
                </text>),*@


            grid.Column(columnName: "AccessName", header: "Navigation Name",
                    style: "col2",
                    format: @<text>
                        <span id="AccessName" class="display-mode">@item.AccessName</span>
                        @Html.TextBox("AccessName-Edit", (string)item.AccessName, new { @class = "edit-mode" })
                    </text>),
            grid.Column("Description",
                    style: "col2",
                    format: @<text>
                        <span id="Description" class="display-mode">@item.Description</span>
                        @Html.TextBox("Description-Edit", (string)item.Description, new { @class = "edit-mode" })
                    </text>),
            grid.Column("PageURL",
                    style: "col2",
                    format: @<text>
                        <span id="PageURL" class="display-mode">@item.PageURL</span>
                        @Html.TextBox("PageURL-Edit", (string)item.PageURL, new { @class = "edit-mode" })
                    </text>),
             grid.Column("ScreenURL",
                    style: "col2",
                    format: @<text>
                        <span id="ScreenURL" class="display-mode">@item.ScreenURL</span>
                        @Html.TextBox("ScreenURL-Edit", (string)item.ScreenURL, new { @class = "edit-mode" })
                    </text>),
            grid.Column("ReportName",
                    style: "col2",
                    format: @<text>
                        <span id="ReportName" class="display-mode">@item.ReportName</span>
                        @Html.TextBox("ReportName-Edit", (string)item.ReportName, new { @class = "edit-mode" })
                    </text>),
            grid.Column(columnName: "SortOrder", header:"Sort",
                    style: "col2",
                    format: @<text>
                        <span id="SortOrder" class="display-mode">@Convert.ToInt32(item.SortOrder)</span>
                        @Html.TextBox("SortOrder-Edit", (int)item.SortOrder, new { @class = "edit-mode", @type = "number", style = "width: 50px" })
                    </text>),
            grid.Column(columnName: "AccessTypeName", header:"Access Type",
                    style: "col2",
                    format: @<text>
                        <span id="AccessTypeName" class="display-mode">@item.AccessTypeName</span>
                        @Html.DropDownListFor(model => model.AccessTypeName, new SelectList(Model.AccessTypeList, "CodeId", "Value1", item.AccessType), "-- Select --", new { @class = "clsAccessType edit-mode" })
                        @Html.Hidden("HdnAccessTypeId-Edit", (int)item.AccessType, new { @class = "edit-mode" })
                    </text>),
            grid.Column(columnName: "AccessControlName", header:"Access Control",
                    style: "col2",
                    format: @<text>
                        <span id="AccessControlName" class="display-mode">@item.AccessControlName</span>
                        @Html.DropDownListFor(model => model.AccessControlName, new SelectList(Model.AccessControlList, "CodeId", "Value1", item.AccessControl), "-- Select --", new { @class = "clsAccessControl edit-mode" })
                        @Html.Hidden("HdnAccessControlId-Edit", (int)item.AccessControl, new { @class = "edit-mode" })
                    </text>),
           grid.Column(columnName: "IsActive", header:"Is Active",
                    style: "col3 webgrid-center-style",
                    format: @<text>
                        @{bool isActive = Convert.ToBoolean(item.IsActive);
                        <span id="IsActive" class="display-mode">@Convert.ToBoolean(item.IsActive)</span>
                            @Html.CheckBox("IsActive-Edit", isActive, new { @class = "edit-mode" })
                        }
                    </text>)

                                     ))

        </div>
        <br />

    }
    }
</div>

<script type="text/javascript">
    $(document).ready
     (
         function () {

             initialize();

             function initialize() {
                 // $(".datepicker").datepicker({ format: 'dd/mm/yyyy', autoclose: true, todayBtn: 'linked' })
                 // $(".datepicker").datepicker("update", new Date());

                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 // OnChange event is called for ApplicationName dropdownlist and stored its value in hidden control, which will be used when save event is been called.
                 $(".clsAppName").on('change', function () {
                     $('#lblMsg').empty();
                     var tr = $(this).parents('tr:first');
                     tr.find('#HdnApplicationId-Edit').val($(this).val());
                    // alert($(this).val());
                 })

                 // OnChange event is called for AccessType dropdownlist and stored its value in hidden control, which will be used when save event is been called.
                 $(".clsAccessType").on('change', function () {
                     $('#lblMsg').empty();
                     var tr = $(this).parents('tr:first');
                     tr.find('#HdnAccessTypeId-Edit').val($(this).val());
                 })

                 // OnChange event is called for AccessControl dropdownlist and stored its value in hidden control, which will be used when save event is been called.
                 $(".clsAccessControl").on('change', function () {
                     $('#lblMsg').empty();
                     var tr = $(this).parents('tr:first');
                     tr.find('#HdnAccessControlId-Edit').val($(this).val());
                 })


                 $('#btnAddNew').click(function () {
                     if ($('.add-item').length == 0) {
                         // debugger;
                         var newRow = $("<tr>");
                         newRow.append("<td style='padding-left:20px'><button class='btn_grid add-item edit-mode' id='0'>Add</button>&nbsp;<button class='btn_grid remove-item edit-mode' id='0'>Cancel</button> </td>");
                         newRow.append("<td>&nbsp;</td>");
                         newRow.append("<td>" + createDropDownLst("ApplicationDDL") + " </td>");
                         newRow.append("<td><input type='text' id='AccessName-Add' class='edit-mode'/></td>");
                         newRow.append("<td><input type='text' id='Description-Add' class='edit-mode'/></td>");
                         newRow.append("<td><input type='text' id='PageURL-Add' class='edit-mode'/></td>");
                         newRow.append("<td><input type='text' id='ScreenURL-Add' class='edit-mode'/></td>");
                         newRow.append("<td><input type='text' id='ReportName-Add' class='edit-mode'/></td>");
                         newRow.append("<td><input type='text' id='SortOrder-Add' class='edit-mode'/></td>");
                         newRow.append("<td>" + createDropDownLst("AccessTypeDDL") + " </td>");
                         newRow.append("<td>" + createDropDownLst("AccessControlDDL") + " </td>");
                         newRow.append("<td><input type='checkbox' id='IsActive-Add' checked class='edit-mode'/></td>");
                         $('#gridContent tbody:last').append(newRow);

                        // alert($('#SelectedApplicationDDL').val());
                         $('#TempApplicationDDL').val($('#SelectedApplicationDDL').val());
                     }

                     $("#TempApplicationDDL").on('change', function () {
                         $('#lblMsg').empty();
                     });

                     //$('.edit-mode').on('change', function () {
                     //    $('#lblMsg').empty();
                     //});

                     $("#TempAccessTypeDDL").on('change', function () {
                         $('#lblMsg').empty();
                     });

                     $("#TempAccessControlDDl").on('change', function () {
                         $('#lblMsg').empty();
                     });

                     // Click action on Add Button, after Add New(+) link is clicked to add new item.
                     $('.add-item').on('click', function () {
                         var tr = $(this).parents('tr:first');
                         var Id = $(this).prop('id');
                         var ApplicationId = $('#TempApplicationDDL').val();
                         var AccessName = tr.find('#AccessName-Add').val();
                         var Description = tr.find('#Description-Add').val();
                         var PageURL = tr.find('#PageURL-Add').val();
                         var ScreenURL = tr.find('#ScreenURL-Add').val();
                         var ReportName = tr.find('#ReportName-Add').val();
                         var SortOrder = tr.find('#SortOrder-Add').val();
                         var AccessType = $('#TempAccessTypeDDL').val();
                         var AccessControl = $('#TempAccessControlDDl').val();
                         var IsActive = tr.find('#IsActive-Add').prop("checked");

                     //    alert(ApplicationId + " : " + AccessType + " : " + AccessControl);
                         $('#lblMsg').empty();
                         var validStatus = IsValid(tr, ApplicationId, AccessName, AccessType, AccessControl);

                         if (validStatus)
                         {
                             $.ajax({
                                 type: "POST",
                                 url: pHostedDir + "/Home/AddNewMenu",
                                 data: JSON.stringify({
                                     Id: Id, ApplicationId: ApplicationId, AccessName: AccessName, Description: Description.toString(),
                                     PageURL:PageURL, ScreenURL:ScreenURL, ReportName:ReportName,
                                     SortOrder: SortOrder, AccessType: AccessType, AccessControl: AccessControl, IsActive: IsActive
                                 }),
                                 contentType: 'application/json; charset=utf-8',
                                 datatype: "json",
                                 success: function (data) {
                                     $('#myGrid').empty();
                                     $('#myGrid').append(data);
                                 }
                             });
                         }

                         //tr.remove();
                     });


                 });

                 $('.edit-mode').hide();


                 $('.edit-item').on('click', function () {
                     $('.edit-mode').hide();
                     $('.delete-mode').hide();
                     $('.display-mode').show();
                     var tr = $(this).parents('tr:first');
                     tr.find('.edit-mode, .display-mode').toggle();
                 });



                 $('.cancel-item').on('click', function () {
                     // alert("Cancel clicked rks...");
                     var tr = $(this).parents('tr:first');
                     tr.find('.display-mode,.edit-mode').toggle();
                 });

                 $('#btnAddCancle').on('click', function () {
                     alert("Cancel remove clicked rks...");
                     //  var tr = $(this).parents('tr:first');
                     //  tr.find('.display-mode,.edit-mode').toggle();
                 });

                 //----------------------------------------------------------------------------------------

                 $('.delete-item').on('click', function () {
                     if (confirm("Are you sure to delete this?")) {
                         var tr = $(this).parents('tr:first');
                         var AccessId = $(this).prop('id');
                         $.post(
                             pHostedDir + '/Home/DeleteMenu/',
                             { AccessId: AccessId },
                             function (item) {
                                 tr.remove();
                             }, "json");
                     }
                 });

                 // --------------------------------------------------------------------------------------

                 //Click action on Save Button
                 $('.save-item').on('click', function () {

                     var tr = $(this).parents('tr:first');
                     var AccessId = $(this).prop('id');
                     var ApplicationId = tr.find('#HdnApplicationId-Edit').val();
                     var AccessName = tr.find('#AccessName-Edit').val();
                     var Description = tr.find('#Description-Edit').val();
                     var PageURL = tr.find('#PageURL-Edit').val();
                     var ScreenURL = tr.find('#ScreenURL-Edit').val();
                     var ReportName = tr.find('#ReportName-Edit').val();
                     var SortOrder = tr.find('#SortOrder-Edit').val();
                     var AccessType = tr.find('#HdnAccessTypeId-Edit').val();
                     var AccessControl = tr.find('#HdnAccessControlId-Edit').val();
                     var IsActive = tr.find('#IsActive-Edit').prop("checked");

                     $('#lblMsg').empty();

                     //  alert(AccessControl);
                     // alert("AccessId: " + AccessId + " ; ApplicationId: " + ApplicationId + " ; AccessName: " + AccessName + " ; Description: " + Description + " ; SortOrder: " + SortOrder + " ; AccessType: " + AccessType + " ; AccessControl: " + AccessControl + " ; Status: " + IsActive);
                     // contentType: 'application/x-www-form-urlencoded',

                     $('#lblMsg').empty();
                     var validStatus = IsValid(tr, ApplicationId, AccessName, AccessType, AccessControl);

                     if (validStatus) {
                         $.ajax({
                             type: "POST",
                             url: pHostedDir + "/Home/UpdateMenu",
                             data: JSON.stringify({
                                 AccessId: AccessId, ApplicationId: ApplicationId, AccessName: AccessName, Description: Description,PageURL:PageURL,ScreenURL:ScreenURL,ReportName:ReportName, SortOrder: SortOrder,
                                 AccessType: AccessType, AccessControl: AccessControl, IsActive: IsActive
                             }),
                             contentType: 'application/json; charset=utf-8',
                             datatype: "json",
                             success: function (data) {
                                 $('#myGrid').empty();
                                 $('#myGrid').append(data);

                                 //var receivedData = JSON.parse(data);
                                 //if (receivedData[0].Message == "success") {
                                 //    // Get the current page url.
                                 //    var currentURL = window.location.href;
                                 //    // Reload/Refresh the current page.
                                 //    window.location.replace(currentURL);
                                 //}
                                 //else
                                 //    alert("Fail to save.");

                             }
                         });
                         tr.find('.edit-mode, .display-mode').toggle();
                     }

                 });

                 // --------------------------------------------------------------------------------------

             }

             function IsValid(tr, ApplicationId, AccessName, AccessType, AccessControl)
             {
                 if (ApplicationId == "") {
                     $('#lblMsg').empty();
                     $('#lblMsg').append("App Name can't be blank....");
                    // alert("App Name can't be blank....");
                     $('#TempApplicationDDL').focus();
                     return false;
                 }
                 else if (AccessName == "") {
                     $('#lblMsg').empty();
                     $('#lblMsg').append("Navigation Name can't be blank....");
                    // alert("Navigation Name can't be blank....");
                     tr.find('#AccessName-Add').focus();
                     return false;
                 }
                 else if (AccessType == "") {
                     $('#lblMsg').empty();
                     $('#lblMsg').append("Access Type can't be blank....");
                    // alert("Access Type can't be blank....");
                     $('#TempAccessTypeDDL').focus();
                     return false;
                 }
                 else if (AccessControl == "") {
                     $('#lblMsg').empty();
                     $('#lblMsg').append("Access Control can't be blank....");
                    // alert("Access Control can't be blank....");
                     $('#TempAccessControlDDl').focus();
                     return false;
                 }
                 return true;
             }

             function createDropDownLst(ddlObj) {
                 try {
                     var strDDL

                     if (ddlObj == "ApplicationDDL") {
                         strDDL = $('#HdnApplicationDDL').val();
                     }
                     else if (ddlObj == "AccessTypeDDL"){
                         strDDL = $('#HdnAccessTypeDDL').val();
                     }
                     else if (ddlObj == "AccessControlDDL") {
                         strDDL = $('#HdnAccessControlDDL').val();
                     }

                     return strDDL;
                 }
                 catch(e)
                 {}
             }
         }
     );
</script>
