﻿@model OMSWebApi.Models.RoleApplicationAccessMapping


<div>
    Role : @Html.DropDownListFor(m => m.RoleList, new SelectList(Model.RoleList, "CodeId", "Value1", 0), "-- Select --")
</div>


<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

  

                 $("#RoleList").on('change', function () {
                    // ddlOnChangeRoleVal = $(this).val();

                     $('#HdnOnChangeRoleValDDLVal').val($(this).val());
                     $('#lblMsg').empty();

                   //  alert($('#HdnOnChangeApplicationDDLVal').val() + " ; " + $('#HdnOnChangeRoleValDDLVal').val());

                     FillWebGridRoleAppAccessMap($('#HdnOnChangeApplicationDDLVal').val(), $('#HdnOnChangeRoleValDDLVal').val());
                 });


                 function FillWebGridRoleAppAccessMap(ddlOnChangeApplicationVal, ddlOnChangeRoleVal) {
                     if (ddlOnChangeApplicationVal != 0 && ddlOnChangeRoleVal != 0) {
                         //    alert(ddlOnChangeApplicationVal + " ; " + ddlOnChangeRoleVal);
                      //   alert("HdnPageFlag: " + $('#HdnPageFlag').val());

                         @*//    $.get('@Url.Action("RoleAppAccessMapping", "Home", new { @AppId = 2, @RoleId = 1 }, null)');*@
                         $('#myGrid').empty();

                         $.ajax({
                             type: "POST",
                             url: pHostedDir + "/Home/RoleAppAccessMapping",
                             data: JSON.stringify({ AppId: ddlOnChangeApplicationVal, RoleId: ddlOnChangeRoleVal, PageFlag: $('#HdnPageFlag').val() }),
                             contentType: 'application/json; charset=utf-8',
                             async: false,
                             datatype: "json",
                             success: function (data) {
                                 $('#myGrid').append(data);
                             }
                         });
                     }
                     else
                     {
                         alert("blank ........");
                         $('#myGrid').empty();
                     }
                 }
             }
         }
     );
</script>