<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Create Collect Person Profile</h3>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <p style="color: red;">All * are mandatory</p>
                        <form class="mt-4">
                            <div class="row form-material">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="PersonName">Collect Person Name <span
                                                style="color: red;">(*)</span></label>
                                        <input type="text" class="form-control" id="PersonName" name="PersonName"
                                            [(ngModel)]="PersonName">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="EmailId">Email ID <span style="color: red;">(*)</span></label>

                                        <input type="email" class="form-control" id="EmailId" name="EmailId"
                                        [(ngModel)]="EmailId" [pattern]="emailPattern" #cpemail="ngModel">

                                        <div *ngIf="cpemail.errors" [ngClass]="'error'">
                                            <div *ngIf="cpemail.errors.pattern">
                                                <span style="color: red;">Email Id not valid.</span>
                                            </div>
                                        </div>

                                        <!-- <input type="email" class="form-control" id="EmailId" name="EmailId"
                                            [(ngModel)]="EmailId" (input)="ValidateEmail($event.target.value)"> -->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Mobile">Mobile <span style="color: red;">(*)</span></label>
                                        <input type="text" class="form-control" id="Mobile" name="Mobile"
                                            [(ngModel)]="Mobile" [pattern]="mobNumberPattern" #mobNumber="ngModel"
                                            maxlength="10">

                                        <div *ngIf="mobNumber.errors" [ngClass]="'error'">
                                            <div *ngIf="mobNumber.errors.pattern">
                                                <span style="color: red;">Mobile number not valid.</span>
                                            </div>
                                        </div>



                                        <!-- <input type="text" class="form-control" id="Mobile" name="Mobile"
                                            [(ngModel)]="Mobile" (keyPress)="keyPress($event)" minlength=10 maxlength=10 required> -->
                                        <!-- <mat-error *ngIf="hasError('EmailId', 'required')">A valid Contact No is
                                            required
                                        </mat-error> -->
                                        <!-- <mat-error *ngIf="hasError('Mobile', 'pattern')">Please enter a valid Contact
                                            No
                                        </mat-error> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CompanyId">Company Name</label>
                                        <select class="form-control p-0" id="CompanyId" name="CompanyId"
                                            [(ngModel)]="CompanyId">
                                            <!-- <option value="">Select Company...</option> -->
                                            <option *ngFor="let company of companyList" [value]="company.CompanyID">
                                                {{company.CompanyName}}</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Password">Password <span style="color: red;">(*)</span></label>
                                        <input type="password" class="form-control" id="Password" name="Password"
                                            [(ngModel)]="Password" minlength="8" maxlength="12">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CPassword">Confirm Password <span
                                                style="color: red;">(*)</span></label>
                                        <input type="password" class="form-control" id="CPassword" name="CPassword"
                                            [(ngModel)]="CPassword" minlength="8" maxlength="12">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Zone">Zone / Area</label>
                                        <input type="text" class="form-control" id="Zone" name="Zone"
                                            [(ngModel)]="Zone">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Address">Address</label>
                                        <input type="text" class="form-control" id="Address" name="Address" multiple
                                            [(ngModel)]="Address">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="City">City</label>
                                        <input type="text" class="form-control" id="City" name="City"
                                            [(ngModel)]="City">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <select class="form-control p-0" id="country" name="country"
                                            [(ngModel)]="CountryId" (change)="onChangeCountry($event.target.value)">
                                            <option value="">Select country...</option>
                                            <option *ngFor="let country of countries" [value]="country.CountryCode">
                                                {{country.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="State">State</label>
                                        <select class="form-control p-0" id="State" name="State" [(ngModel)]="StateId">
                                            <!-- <option value="">Select state...</option> -->
                                            <option *ngFor="let state of states" [value]="state.StateCode">
                                                {{state.StateName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Zip">Zip <span style="color: red;">(*)</span></label>
                                        <input type="number" class="form-control" id="Zip" name="Zip" [(ngModel)]="Zip"
                                            maxlength="6" pattern="^[0-9]{5}(?:-[0-9]{4})?$" required>
                                        <!-- <mat-error *ngIf="hasError('EmailId', 'required')">A valid Zip is required
                                        </mat-error> -->
                                        <mat-error *ngIf="hasError('Zip', 'pattern')">Please enter a valid Zip
                                        </mat-error>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CPImage">Collect Person Image</label>
                                        <input type="file" class="form-control" id="CPImage" name="CPImage"
                                            [(ngModel)]="CPImage" (change)="picked($event)">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info mr-2"
                                            (click)="SaveCollectPersonalData()">
                                            Submit</button> &nbsp;
                                        <button type="button" class="btn btn-secondary"
                                            (click)="cancel();">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
</div>