.dark-text tr td {
  color: rgb(0, 0, 0);
}

.cdk-column-Paymentimage {
  padding-left: 0;
}

mat-cell.cdk-column-Paymentimage {
  padding-left: 0;
  text-align: center;
  border-right: solid 1px rgba(0, 0, 0, .12);
  border-left: solid 1px rgba(0, 0, 0, .12);
}

.form-material .form-control {
  font-size: 14px;
  color: #000;
}

.form-material .form-group {
  margin: 0;
}

.form-material label {
  margin-bottom: 0;
  font-size: 13px;
}

.ImageTable .mat-cell {
  display: block;
}

.ImageTable img {
  max-height: 150px;
  padding: 10px;
}

table {
  width: 100%;
}

.AngCustomClas {
  padding: 0px;
}

#example tr td:first-child {
  width: 42%;
}

.AngCustomClas table tr td:first-child {
  border-left: 0;
  border-top: 0;
}

.AngCustomClas table tr td:last-child {
  border-right: 0;
  border-top: 0;
}

tr.mat-header-row {
  background: #f5f5f5;
  border-top: solid 1px rgba(0, 0, 0, .12)
}

.invoice-action-view {
  color: #1e88e5 !important;
}

.btn-custom {
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #fff;
  background-color: #03a9f4;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.floating-labels .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
}

table.bordered td, table.bordered th {
  padding: 7px !important;
  border: 1px solid rgba(0, 0, 0, .12) !important;
}

.btn-customRed {
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #fff;
  background-color: #f78383;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.responsive-table {
  padding: 15px;
}

.zqwtyu thead tr {
  font-size: 12px;
  color: #000;
  background: #dddddd;
}

.paddingcustom {
  padding: 15px 0;
}

mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: rgba(0, 0, 0, .12);
}

mat-cell[_ngcontent-qbx-c121], mat-header-cell[_ngcontent-qbx-c121], mat-footer-cell[_ngcontent-qbx-c121] {
  min-width: 78px;
}

mat-cell, mat-header-cell, mat-footer-cell {
  color: #222;
}

mat-cell.mat-cell {
  padding-right: 5px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

/* 
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 10px;
  } */

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 24px;
  text-align: left;
}

.mat-elevation-z8 {
  font-size: 13px;
  color: #333;
}

.pointer {
  cursor: pointer;
}

/* table {

    width: 100%;
  }
  mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgba(0,0,0,.12);
  }
  
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 10px;
  }
  
  mat-cell, mat-header-cell, mat-footer-cell {padding-right: 10px;}
  
  .mat-elevation-z8{font-size: 13px;}
  
  .full-width-table {
    width: 100%;
  }
  
  .mat-column-select {
    overflow: initial;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
  ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #222d32 !important;
  }
  
  .btn-custom{
    cursor: pointer;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      text-align: center;
      text-decoration: none;
      letter-spacing: .5px;
      color: #fff;
      background-color: #03a9f4;
      border: none;
      border-radius: 4px;
      padding: 5px;
  }
  
  table.bordered td, table.bordered th {
    padding: 7px !important;
    border: 1px solid rgba(0,0,0,.12) !important;
  }
  
  .btn-customRed{
    cursor: pointer;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      text-align: center;
      text-decoration: none;
      letter-spacing: .5px;
      color: #fff;
      background-color: #f78383;
      border: none;
      border-radius: 4px;
      padding: 5px;
  }
  .responsive-table{padding: 15px;}
  .zqwtyu thead tr {font-size: 12px; color: #000; background: #dddddd;}
  .paddingcustom{padding: 15px 0;}
  
  
  
   */

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}