<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Customer Collect Person Relation</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <div class="">
                            <!-- headre Filter -->

                            <div class="row form-material">
                                <!-- <div class="col-md-2">
                                    <div class="form-group  focused">
                                        <input type="date" [ngModel]="startdate | date:'yyyy-MM-dd'" name="datepicker"
                                            class="form-control" id="fromDate">
                                        <span class="bar"></span>
                                        <label for="fromDate">From Date</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group  focused">
                                        <input type="date" [ngModel]="todate | date:'yyyy-MM-dd'" name="datepicker"
                                            class="form-control" id="toDate">
                                        <span class="bar"></span>
                                        <label for="toDate">To Date</label>
                                    </div>
                                </div> -->
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label for="CPName">Collect Person Name</label>
                                        <input id="CPName" type="text" class="form-control validate" name="CPName"
                                            [(ngModel)]="CPName" required>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label for="CustomerCode">Customer Code</label>
                                        <input id="CustomerCode" type="text" class="form-control validate"
                                            name="CustomerCode" [(ngModel)]="CustomerCode" required>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="CustomerName">Customer Name</label>
                                        <input id="CustomerName" type="text" class="form-control validate"
                                            name="CustomerName" [(ngModel)]="CustomerName" required>
                                    </div>
                                </div>

                                <!--<div class="col-md-2">
                        <div class="form-group  focused">
                          <select class="form-control" id="InvStatus" name="InvStatus" [(ngModel)]="InvStatus" (change)="onChangeInvStatus($event.target.value)" required >
                            <option value="all">All</option>
                            <option value="Sent to office">Sent To Office</option>
                            <option value="approved">Approved</option>
                            <option value="rejected">Rejected</option>
                        </select>
                        <span class="bar"></span>
                        <label class="active" for="InvStatus"></label> 
                        </div>
                      </div>-->

                                <div class="col-md-2">
                                    <div class="">
                                        <button class="btn btn-info  btn-block mt-3" type="submit" name="action"
                                            (click)="SearchInvoice()">Search</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- headre Filter -->

                    <!-- Material Table -->
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

                            <ng-container matColumnDef="CPCODE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>CP Code</b></th>
                                <td mat-cell *matCellDef="let row "> {{row.CPCODE}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CPNAME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>CP Name </b></th>
                                <td mat-cell *matCellDef="let row"> {{row.CPNAME}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CUSTOMERCODE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Cust Code</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.CUSTOMERCODE}} </td>
                            </ng-container>

                            <ng-container matColumnDef="NAME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Cust Name</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.NAME}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ContactNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Contact No</b> </th>
                                <td mat-cell *matCellDef="let row"> {{row.ContactNo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="EmailID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Email Id</b> </th>
                                <td mat-cell *matCellDef="let row"> {{row.EmailID}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CUSTADDRESS">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Cust Address</b> </th>
                                <td mat-cell *matCellDef="let row">
                                    <div style="width: auto; word-wrap: break-word">
                                        {{row.CUSTADDRESS}}
                                    </div>
                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="Amount">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Amount ($)</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.Amount}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="ReceiptLink">
                            <th mat-header-cell  *matHeaderCellDef ><b>Preview</b>  </th>
                            <td mat-cell *matCellDef="let row" >
                              <a target="_blank" href="{{row.ReceiptLink}}">View</a> 
                           </td>
                           </ng-container>  
                           
                          <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> Symbol </th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                          </ng-container> -->

                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef><b>Actions</b> </th>
                                <td mat-cell *matCellDef="let row">
                                    <a class="invoice-action-view font-16 pointer"
                                        (click)="DeleteCPCustomerByCPCode(row.CPCODE, row.CUSTOMERCODE)">
                                        <span style="color: red;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>

                        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>

                    </div>
                    <!-- Material Table -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <jw-modal id="custom-modal-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title text-white">Update Collect Person</h4>
                <button mat-button class="close" (click)="closeModal('custom-modal-1');">×</button>
            </div>
        </div>

        <div class="card-footer text-right">
            <button mat-button class="btn btn-dark" (click)="closeModal('custom-modal-1');"
                style="background-color:rgb(95, 93, 93);">Close</button>
        </div>
    </div>
</jw-modal> -->