<div class="col-md-3 neww-boxx1 indexSet" id="modalShowItem" style="display:none;">
<button type="button" class="close disj" style="margin-top:7px;">&times;</button>
<!-- <img src="images/spinner.gif" id="spin" style="display:none;position:absolute;top:100px;left:100px;z-index:9999999;width:50px;height:50px;"/> -->
       <div class="col-xs-3  col-md-3 box-itmess11">
       <div class="col-xs-12  col-md-12 box-itmess112 newpdd12"  ng-click="vm.setUpdateimg(vm.setUnitIm,$event)"><img ng-src="{{vm.setUnitIm}}" style="height:91px !important" onerror="ImgErr(this)" onload="setImg(this)"/></div>
       <div class="col-xs-12  col-md-12 box-itmess112 newpdd12" ng-click="vm.setUpdateimg(vm.setCaseIm,$event)"><img ng-src="{{vm.setCaseIm}}" onerror="ImgErr(this)" onload="setImg(this)"/></div>
       <div class="col-xs-12  col-md-12 box-itmess112 newpdd12" ng-click="vm.setUpdateimg(vm.setNutritionIm,$event)"><img ng-src="{{vm.setNutritionIm}}" onerror="ImgErr(this)" onload="setImg(this)"/></div>
       <div class="col-xs-12  col-md-12 box-itmess112 newpdd12" ng-click="vm.setUpdateimg(vm.setSpecificationIm,$event)"><img ng-src="{{vm.setSpecificationIm}}" onload="setImg(this)" onerror="ImgErr(this)" /></div>
     </div> 

       <div class="col-xs-9  col-md-9 box-itmessnw">
<img class="zoomT" ng-src="{{vm.setUpdateIm}}" onload="setImg(this)" onerror="ImgErr(this)" />
<div class="pop-dtl12">Item #:- {{vm.Procode}}</div>
<div class="pop-dtl12">Name:- {{vm.Proname}}</div>
</div>

         <div class="col-xs-12  col-md-12 box-footer newpad">


<h4 class="col-xs-7  col-md-6 newpad" style=" text-align: center; margin-bottom:4px;"><span class="quent-txt">Qty: </span>

                <button id="minus" class="minus-btn1" ng-disabled="vm.countIm==1" disabled="disabled" ng-click="vm.dec();">-</button>

                <input type="text" ng-model="vm.countIm" class="num-bx ng-pristine ng-untouched ng-valid">

                <button id="plus" class="plus-btn1 " ng-click="vm.inc();">+</button></h4>

                <div class="col-xs-5  col-md-6" style="padding-top: 11px;">
              
              <button class="orangeBtn add-crt-btn1 gh" ng-click="vm.addModCart()">Add</button>
              <button class="orangeBtn close-crt-btn1 disj" data-dismiss="modal">Close</button>
          </div>

</div>
 
</div>