<div class="col-md-3 neww-boxx1 indexSet1" id="modalShowOrderDetails" style="display:none;height:230px">
<button type="button" class="close disj" style="margin-top:7px;">&times;</button>
<!-- <img src="images/spinner.gif" id="spin" style="display:none;position:absolute;top:100px;left:100px;z-index:9999999;width:50px;height:50px;"/> -->
      <div class="col-md-12 newdtlbox clear-site-1">
				<!-- customer-details-record start -->
				<style>
					.newdtlbox1{
					border: 1px solid #b2b2b2;
					border-radius: 3px;
					padding: 10px;
					}
					.newdtlbox .table th{
					background-color: #00459a;
					color: #fff;
					font-size: 14px;
					}
				</style>
				<div class="col-md-12 newdtlbox1  clear-site-3">
					<!-- table-products-record start -->
					<p style="margin-bottom: 0;font-size: 12px;"><b>Items: </b>{{vm.ordersDetails.ProductCode}}-{{vm.ordersDetails.DisplayName}}</p>
					<p>Last 5 Item History</p>
					<table class="table">
						<thead>
							<tr>
								<th>Sr.</th>
								<th>Date</th>
								<th>Qty</th>
								<th>Price</th>
							</tr>
							<tr>
								<td>1</td>
								<td>1/5/2017.</td>
								<td>4</td>
								<td>$4</td>
							</tr>
							<tr>
								<td>1</td>
								<td>1/5/2017.</td>
								<td>4</td>
								<td>$4</td>
							</tr>
							<tr>
								<td>1</td>
								<td>1/5/2017.</td>
								<td>4</td>
								<td>$4</td>
							</tr>
						</thead>
					</table>
				</div>
				<!-- pagination-dtl end -->
			</div>

 
</div>
