<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Customize Customer</h3>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <form class="mt-4">
                            <div class="row form-material">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="client">Select Client <span style="color: red;">(*)</span></label>
                                        <select class="form-control p-0" id="client" name="client" [(ngModel)]="client"
                                            (change)="changeSuit()">
                                            <option value="">--Select client--</option>
                                            <option *ngFor="let company of Company" [value]="company.ClientName">
                                                {{company.CompanyName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailConfig">Customer data come from </label>
                                        <div class="custom-control custom-radio">
                                            <input id="IsERP" type="radio" class="custom-control-input" value="IsERP"
                                                name="CustomerData" [(ngModel)]="CustomerData">
                                            <label class="custom-control-label" for="IsERP">IsERP</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input id="IsOthers" type="radio" class="custom-control-input"
                                                value="IsOthers" name="CustomerData" [(ngModel)]="CustomerData">
                                            <label class="custom-control-label" for="IsOthers">IsOthers</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="paymentmethod">Payment Method <span
                                                style="color: red;">(*)</span></label>

                                        <div *ngFor="let paymethod of PayMethod">
                                            <input type="checkbox" id="{{paymethod.id}}"
                                                name="paymentmethod-{{paymethod.name}}" value="{{paymethod.id}}"
                                                [(ngModel)]="paymentmethod">
                                            <label for="{{paymethod.id}}">{{paymethod.name}}</label><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info mr-2" (click)="Save()">
                                            Submit</button> &nbsp;
                                        <button type="button" class="btn btn-secondary"
                                            (click)="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>