<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Manage Email</h3>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <form class="mt-4">
                            <div class="row form-material">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userrole">User Role <span style="color: red;">(*)</span></label>
                                        <select class="form-control p-0" id="userrole" name="userrole"
                                            [(ngModel)]="userrole">
                                            <option value="">--Select Role--</option>
                                            <option value="CPAdmin">CPADMIN</option>
                                            <!-- <option *ngFor="let company of companyList" [value]="company.CompanyID">
                                                {{company.CompanyName}}</option> -->
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailConfig">Email Configure For</label>
                                        <div>
                                            <input type="checkbox" id="customer" name="customer" value="customer" [(ngModel)]="Customer">
                                            <label for="customer"> Customer</label><br>
                                            <input type="checkbox" id="company" name="company" value="company" [(ngModel)]="Company">
                                            <label for="company"> Company</label><br>
                                            <input type="checkbox" id="broker" name="broker" value="broker" [(ngModel)]="Broker">
                                            <label for="broker"> Broker</label><br>
                                            <input type="checkbox" id="CP" name="CP" value="CP" [(ngModel)]="CollectP">
                                            <label for="CP"> Collect Person</label><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info mr-2"
                                            (click)="Save()">
                                            Submit</button> &nbsp;
                                        <button type="button" class="btn btn-secondary" (click)="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>