<div class="modal fade errorModal" role="dialog"  data-backdrop="static">
  <div class="modal-dialog" style="z-index:9999999">
      <div class="modal-content">

          <div class="modal-header">  
              <h2></h1>
          </div>

          <div class="modal-body ftr-align">
              <h4>Do you want to delete this order ?</h4>
          </div>

          <div class="modal-footer ftr-align" >
              
              <button class="orangeBtn add-crt-btn1"  ng-click="deleteOrd()" >Yes</button>
              <button class="orangeBtn add-crt-btn1"  data-dismiss="modal" >No</button>
          </div>


      </div>
  </div>
</div>

