﻿@model OMSWebApi.Models.RoleApplicationAccessMapping
@{
    ViewBag.Title = "UserAppRoleMapping";
}


<div>
    @{if (Model != null)
     {
        
          <table>
              <tr>
                  <td>Unassigned Role</td>
                  <td></td>
                  <td>Assigned Role</td>
              </tr>
              <tr>
                  <td>
                      @Html.ListBoxFor(m => m.UserAppRoleNotAssignedList, new SelectList(Model.UserAppRoleNotAssignedList, "UserName", "UserFullName", 0), new { @style = "width: 250px; height:300px" })
                  </td>
                  <td>&nbsp;<input type="button" id="btnMoveToRt" value=">" />&nbsp;<br /><br />&nbsp;<input type="button" id="btnMoveToLt" value="<" />&nbsp;</td>
                  <td>@Html.ListBoxFor(m => m.UserAppRoleAssignedList, new SelectList(Model.UserAppRoleAssignedList, "UserName", "UserFullName", 0), new { @style = "width: 250px; height:300px" })</td>
              </tr>
          </table>

    <div>

    </div>

         <br />
        <input type="button" id="btnSave" value="Save" />
     }
    }

</div>


<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 //debugger;
                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 //// Click event to move selected item in ListBox from Left to Right 
                 $('#btnMoveToRt').click(function () {
                     $('#lblMsg').empty();
                     var itemsToAdd = [];
                     $("#UserAppRoleNotAssignedList option:selected").each(function () {
                         var optionVal = $(this).val();
                         var key = $(this).data('key');
                         if ($('#UserAppRoleAssignedList option[value="' + optionVal + '"][data-key="' + key + '"]').length == 0) {
                             itemsToAdd.push($(this).removeAttr('selected'));
                         }
                     });
                     $("#UserAppRoleAssignedList").append(itemsToAdd);
                 });


                 //// Click event to move selected item in ListBox from Right to Left
                 $('#btnMoveToLt').click(function () {
                     $('#lblMsg').empty();
                     var itemsToAdd = [];
                     $("#UserAppRoleAssignedList option:selected").each(function () {
                         var optionVal = $(this).val();
                         var key = $(this).data('key');
                         if ($('#UserAppRoleNotAssignedList option[value="' + optionVal + '"][data-key="' + key + '"]').length == 0) {
                             itemsToAdd.push($(this).removeAttr('selected'));
                         }
                     });
                     $("#UserAppRoleNotAssignedList").append(itemsToAdd);
                 });

                 //// Click event to Save Assigned User List
                 $('#btnSave').click(function () {
                   
                     $('#lblMsg').empty();
                     var UserListToAssigne;

                   //  alert("btnSave clicked");
                   //  debugger;
                     var selectedValues = $.map($('#UserAppRoleAssignedList option'), function (element) {
                         if (UserListToAssigne == undefined)
                         {
                             UserListToAssigne = element.value;
                         }
                         else
                         {
                             UserListToAssigne = UserListToAssigne + "," + element.value;
                         }
                         
                     });
                 //    alert("selectedValues: " + selectedValues);
                 //    alert("Assigned User: " + UserListToAssigne);

                     // alert("Application Id: " + $('#HdnOnChangeApplicationDDLVal').val() + ", Role Id: " + $('#HdnOnChangeRoleValDDLVal').val())

                     if (UserListToAssigne == undefined)
                     {
                         UserListToAssigne = "";
                     }

                     var ApplicationId = $('#HdnOnChangeApplicationDDLVal').val();
                     var RoleId = $('#HdnOnChangeRoleValDDLVal').val();

                     $.ajax({
                         type: "POST",
                         url: pHostedDir + "/Home/UpdateUserAppRole",
                         data: JSON.stringify({ ApplicationId: ApplicationId, RoleId: RoleId, UserListToAssigne: UserListToAssigne.toString() }),
                         contentType: 'application/json; charset=utf-8',
                         async: false,
                         datatype: "json",
                         success: function (data) {
                             var receivedData = JSON.parse(data);
                             if (receivedData[0].Message == "success") {
                                 $('#lblMsg').append("Mapping saved successfully...");
                             }
                             else
                             {
                                 $('#lblMsg').append("Mapping fail to save...");
                             }
                                 
                         }
                     });
                 });
             }
         }
     );
</script>







@*<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 //debugger;
                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 $('#btnSave').click(function () {
                     var SelectedRoleIds = $('input:checkbox:checked').map(function () {
                         return this.id;
                     }).get();

                     var NotSelectedRoleIds = $('input:checkbox:not(:checked)').map(function () {
                         return this.id;
                     }).get();

                     var ApplicationId = $('#ApplicationList').val();
                     var RoleId = $('#RoleList').val();

                     //  alert("Checked: " + SelectedRoleIds + " Not Selected: " + NotSelectedRoleIds);
                     //  alert("App ID: " + ApplicationId + " ; RoleId: " + RoleId);

                     $.ajax({
                         type: "POST",
                         url: pHostedDir + "/Home/UpdateRoleAppAccess",
                         data: JSON.stringify({ ApplicationId: ApplicationId, RoleId: RoleId, SelectedRoleIds: SelectedRoleIds.toString(), NotSelectedRoleIds: NotSelectedRoleIds.toString() }),
                         contentType: 'application/json; charset=utf-8',
                         async: false,
                         datatype: "json",
                         success: function (data) {
                             var receivedData = JSON.parse(data);
                             if (receivedData[0].Message == "success") {
                                 $('#lblMsg').append("Mapping saved successfully...");
                             }
                             else
                                 $('#lblMsg').append("Mapping fail to save...");
                         }
                     });
                 });
             }
         }
     );
</script>*@