﻿@model List<OMSWebApi.Models.Roles>
@{
    ViewBag.Title = "Role";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/webgrid.css" rel="stylesheet" />

<h2>Role Master Entry</h2>
<br />
<div id="lblMsg" class="validation-err-msg"></div>
<br />
<br />
<div style="width:100%;float:left;padding-bottom:50px;">
    
    <a href="javascript://" id="btnAddNew">Add New(+)</a>

    @{if (Model != null)
    {
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent"); grid.Pager(WebGridPagerModes.NextPrevious);
        <div id="gridContent" class="articleHeader article_lst">


            @grid.GetHtml(tableStyle: "webgrid-table",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "select",
            columns: grid.Columns(
             grid.Column("",
                    style: "col1",
                    format: @<text><div style="padding-left:20px;">
                            <button class="btn_grid edit-item display-mode" id="@item.Id">Edit</button>
                            <button class="btn_grid display-mode delete-item" id="@item.Id">Delete</button>
                            <button class="btn_grid save-item edit-mode" id="@item.Id">Save</button>
                            <button class="btn_grid cancel-item edit-mode" id="@item.Id">Cancel</button>
                        </div>
                    </text>),
             grid.Column(columnName:"ID", header:"ID"),
             grid.Column(columnName:"RoleName", header:"Role Name",
                    style: "col2",
                    format: @<text>
                        <span id="RoleName" class="display-mode">@item.Name</span>
                        @Html.TextBox("RoleName-Edit", (string)item.Name, new { @class = "edit-mode" })
                    </text>),
           grid.Column(columnName:"IsActive", header:"Is Active",
                    style: "col3",
                    format: @<text>
                        @{bool isActive = Convert.ToBoolean(item.IsActive);
                        <span id="IsActive" class="display-mode">@Convert.ToBoolean(item.IsActive)</span>
                            @Html.CheckBox("IsActive-Edit", isActive, new { @class = "edit-mode" })
                        }
                    </text>)))

        </div>
    }
    }
</div>

<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {
                 // $(".datepicker").datepicker({ format: 'dd/mm/yyyy', autoclose: true, todayBtn: 'linked' })
                 // $(".datepicker").datepicker("update", new Date());

                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 $('#btnAddNew').click(function () {
                     if ($('.add-item').length == 0) {
                         var newRow = $("<tr>");
                         newRow.append("<td style='padding-left:20px'><button class='btn_grid add-item edit-mode' id='0'>Add</button>&nbsp;<button class='btn_grid remove-item edit-mode' id='0'>Cancel</button> </td>");
                         newRow.append("<td>&nbsp;</td>");
                         newRow.append("<td><input type='text' id='RoleName-Add' class='edit-mode'/></td>");
                         newRow.append("<td><input type='checkbox' id='IsActive-Add' checked class='edit-mode'/></td>");

                         $('#gridContent tbody:last').append(newRow);
                         //    $(".datepicker").datepicker({ format: 'dd/mm/yyyy', autoclose: true, todayBtn: 'linked' })
                         //    $(".datepicker").datepicker("update", new Date());

                     }

                     // Click action on Add Button, after Add New(+) link is clicked to add new item.
                     $('.add-item').on('click', function () {
                         var tr = $(this).parents('tr:first');
                         var Id = $(this).prop('id');
                         var Name = tr.find('#RoleName-Add').val();
                         var IsActive = tr.find('#IsActive-Add').prop("checked");

                         $('#lblMsg').empty();
                         var validStatus = IsValid(tr, Name);

                         if (validStatus) {
                             $.post(
                                 pHostedDir + '/Home/AddNewRole',
                                 { Id: Id, Name: Name, IsActive: IsActive },
                                 function (item) {
                                     var currentURL = window.location.href;
                                     window.location.replace(currentURL);
                                 }, "json");
                         }

                         //tr.remove();
                     });


                 });

                 $('.edit-mode').hide();


                 $('.edit-item').on('click', function () {
                     $('.edit-mode').hide();
                     $('.delete-mode').hide();
                     $('.display-mode').show();
                     var tr = $(this).parents('tr:first');
                     tr.find('.edit-mode, .display-mode').toggle();
                 });



                 $('.cancel-item').on('click', function () {
                    // alert("Cancel clicked rks...");
                     var tr = $(this).parents('tr:first');
                     tr.find('.display-mode,.edit-mode').toggle();
                 });

                 $('#btnAddCancle').on('click', function () {
                     alert("Cancel remove clicked rks...");
                     //  var tr = $(this).parents('tr:first');
                     //  tr.find('.display-mode,.edit-mode').toggle();
                 });

                 //----------------------------------------------------------------------------------------

                 $('.delete-item').on('click', function () {
                     if (confirm("Are you sure to delete this Role?")) {
                         var tr = $(this).parents('tr:first');
                         var Id = $(this).prop('id');
                         $.post(
                             pHostedDir + '/Home/DeleteRole/',
                             { Id: Id },
                             function (item) {
                                 tr.remove();
                             }, "json");
                     }
                 });

                 // --------------------------------------------------------------------------------------

                 //Click action on Save Button
                 $('.save-item').on('click', function () {
                     var tr = $(this).parents('tr:first');
                     var Id = $(this).prop('id');
                     var Name = tr.find('#RoleName-Edit').val();
                     var IsActive = tr.find('#IsActive-Edit').prop("checked");
                    // alert("Save ...; " + Id + " ;" + Name + IsActive);
                     // contentType: 'application/x-www-form-urlencoded',

                     $('#lblMsg').empty();
                     var validStatus = IsValid(tr, Name);

                     if (validStatus) {
                         $.ajax({
                             type: "POST",
                             url: pHostedDir + "/Home/UpdateRole",
                             data: JSON.stringify({ Id: Id, Name: Name, IsActive: IsActive }),
                             contentType: 'application/json; charset=utf-8',
                             datatype: "json",
                             success: function (data) {
                                 var receivedData = JSON.parse(data);
                                 if (receivedData[0].Message == "success") {
                                     tr.find('#RoleName').text(receivedData[0].Name);
                                     tr.find('#IsActive').text(receivedData[0].IsActive);
                                 }
                                 else
                                     alert("Fail to save.");
                             }
                         });
                     }


                     tr.find('.edit-mode, .display-mode').toggle();
                 });

                 // --------------------------------------------------------------------------------------
             }

             function IsValid(tr, Name) {
                 if (Name == "") {
                     $('#lblMsg').empty();
                     $('#lblMsg').append("Role Name can't be blank....");
                     // alert("App Name can't be blank....");
                     //$('#TempApplicationDDL').focus();
                     return false;
                 }
                 return true;
             }
         }
     );
</script>
