﻿<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
                <!-- Logo icon --><b style="display: none;">
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo-icon1.png" alt="GoyaLogo" class="dark-logo" style="display: none;"/>
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo-light-icon1.png" alt="GoyaLogo" class="light-logo" style="display: none;"/>
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span style="display: none;">
                    <!-- dark Logo text -->
                    <img src="assets/images/logo-text1.png" alt="GoyaLogo" class="dark-logo" style="display: none;"/>
                    <!-- Light Logo text -->
                    <img src="assets/images/logo-light-text1.png" class="light-logo" alt="GoyaLogo" style="display: none;"/></span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item"> <a
                        class="nav-link nav-toggler d-block d-md-none text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                <li class="nav-item"> <a
                        class="nav-link sidebartoggler d-none d-md-block text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

            </ul>
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <img src="assets/images/collection-logo.png">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-power-off" (click)="logout();"></i></a>
                </li>

            </ul>
        </div>
    </nav>
</header>