<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Create New Company</h3>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <form class="mt-4">
                            <div class="row form-material">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CompanyName">Company Name <span
                                                style="color: red;">(*)</span></label>
                                        <input type="text" class="form-control" id="CompanyName" name="CompanyName"
                                            [(ngModel)]="CompanyName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ContactNo">Contact No <span style="color: red;">(*)</span></label>
                                        <input type="number" class="form-control" id="ContactNo" name="ContactNo" maxlength="10"
                                            [(ngModel)]="ContactNo">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Email">Email ID </label>
                                        <input type="email" class="form-control" id="Email" name="Email"
                                            [(ngModel)]="Email">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Fax">Fax No </label>
                                        <input type="number" class="form-control" id="Fax" name="Fax" [(ngModel)]="Fax" maxlength="10">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ContactP">Contact Person Name <span
                                                style="color: red;">(*)</span></label>
                                        <input type="text" class="form-control" id="ContactP" name="ContactP"
                                            [(ngModel)]="ContactP">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ContactPEmail">Contact Person Email </label>
                                        <input type="text" class="form-control" id="ContactPEmail" name="ContactPEmail"
                                            [(ngModel)]="ContactPEmail">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country">Country <span style="color: red;">(*)</span></label>
                                        <select class="form-control p-0" id="country" name="country"
                                            (change)="onChangeCountry($event.target.value)" [(ngModel)]="CountryId">
                                            <option value="">Select country...</option>
                                            <option *ngFor="let country of countries" [value]="country.CountryCode">
                                                {{country.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="State">State <span style="color: red;">(*)</span></label>
                                        <select class="form-control p-0" id="State" name="State" [(ngModel)]="StateId">
                                            <option value="">Select state...</option>
                                            <option *ngFor="let state of states" [value]="state.StateCode">
                                                {{state.StateName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="City">City <span style="color: red;">(*)</span></label>
                                        <input type="text" class="form-control" id="City" name="City"
                                            [(ngModel)]="City">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Street">Street <span style="color: red;">(*)</span></label>
                                        <input type="text" class="form-control" id="Street" name="Street"
                                            [(ngModel)]="Street">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Zip">Zip <span style="color: red;">(*)</span></label>
                                        <input type="text" class="form-control" id="Zip" name="Zip" [(ngModel)]="Zip">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ComURL">Company URL </label>
                                        <input type="text" class="form-control" id="ComURL" name="ComURL"
                                            [(ngModel)]="ComURL">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ComLogo">Company Logo</label>
                                        <input type="file" class="form-control" id="ComLogo" name="ComLogo"
                                            [(ngModel)]="ComLogo" (change)="pickedLogo($event)">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CompBanner">Company Banner</label>
                                        <input type="file" class="form-control" id="CompBanner" name="CompBanner"
                                            [(ngModel)]="CompBanner" (change)="pickedBanner($event)">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info mr-2" (click)="SaveCompanyData()">
                                            Submit</button> &nbsp;
                                        <button type="button" class="btn btn-secondary"
                                            (click)="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>