﻿<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-4 col-12 align-self-center">
        <h3 class="text-themecolor">Collection Dashboard</h3>
      </div>
    </div>
    <div class="row">
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row">
              <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-info">
                <i class="ti-wallet"></i>
              </div>
              <div class="ml-2 align-self-center">
                <h3 class="mb-0">${{TotalCollect}}</h3>
                <h5 class="text-muted mb-0">Total Collection</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row">
              <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-danger">
                <i class="mdi mdi-cash-usd"></i>
              </div>
              <div class="ml-2 align-self-center">
                <h3 class="mb-0">${{TodayCollect}}</h3>
                <h5 class="text-muted mb-0">Today's Collection</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row">
              <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-warning">
                <i class="mdi mdi-account"></i>
              </div>
              <div class="ml-2 align-self-center">
                <h3 class="mb-0 ">{{CPTotal}}</h3>
                <h5 class="text-muted mb-0">Collect Person</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row">
              <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-primary">
                <i class="mdi mdi-account-multiple"></i>
              </div>
              <div class="ml-2 align-self-center">
                <h3 class="mb-0">{{AssignCustTotal}}</h3>
                <h5 class="text-muted mb-0">Assigned Customer</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card card-outline-info">
          <div class="card-body ">
            <div class="">
              <!-- headre Filter -->

              <div class="row form-material">
                <div class="col-md-2">
                  <label for="fromDate">From Date</label>
                  <div class="form-group ">
                    <input type="date" [ngModel]="startdate | date:'yyyy-MM-dd'" name="datepicker" class="form-control"
                      id="fromDate">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="toDate">To Date</label>
                    <input type="date" [ngModel]="todate | date:'yyyy-MM-dd'" name="datepicker" class="form-control"
                      id="toDate">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="ReceiptNo">Receipt No</label>
                    <input id="ReceiptNo" type="text" class="form-control validate" name="ReceiptNo"
                      [(ngModel)]="ReceiptNo" required>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group ">
                    <label for="CustomerCode">Customer Code</label>
                    <input id="CustomerCode" type="text" class="form-control validate" name="CustomerCode"
                      [(ngModel)]="CustomerCode" required>
                  </div>
                </div>

                <!--<div class="col-md-2">
                      <div class="form-group  focused">
                        <select class="form-control" id="InvStatus" name="InvStatus" [(ngModel)]="InvStatus" (change)="onChangeInvStatus($event.target.value)" required >
                          <option value="all">All</option>
                          <option value="Sent to office">Sent To Office</option>
                          <option value="approved">Approved</option>
                          <option value="rejected">Rejected</option>
                      </select>
                      <span class="bar"></span>
                      <label class="active" for="InvStatus"></label> 
                      </div>
                    </div>-->

                <div class="col-md-2">
                  <div class="">
                    <button class="btn btn-info  btn-block mt-3" type="submit" name="action"
                      (click)="SearchInvoice()">Search</button>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- headre Filter -->

          <!-- Material Table -->
          <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

              <ng-container matColumnDef="CustomerId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Customer#</b></th>
                <td mat-cell *matCellDef="let row "> {{row.CustomerId}} </td>
              </ng-container>

              <ng-container matColumnDef="PaymentReceipt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Receipt No </b></th>
                <td mat-cell *matCellDef="let row">
                  <a target="_blank" href="{{row.ReceiptLink}}">{{row.PaymentReceipt}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="CustName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Customer Name</b></th>
                <td mat-cell *matCellDef="let row"> {{row.CustName}} </td>
              </ng-container>

              <ng-container matColumnDef="CollectedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Collected By</b></th>
                <td mat-cell *matCellDef="let row"> {{row.CollectedBy}} </td>
              </ng-container>

              <ng-container matColumnDef="PaymentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Payment Date</b> </th>
                <td mat-cell *matCellDef="let row"> {{row.CreatedDate}} </td>
              </ng-container>

              <ng-container matColumnDef="CollectionMode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Collection Mode</b> </th>
                <td mat-cell *matCellDef="let row"> <span
                    class="badge badge-success px-2 py-1">{{row.CollectionMode}}</span> </td>
              </ng-container>

              <ng-container matColumnDef="PaymentStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Payment Status</b> </th>
                <td mat-cell *matCellDef="let row"> {{row.PaymentStatus}} </td>
              </ng-container>

              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Amount ($)</b> </th>
                <td mat-cell *matCellDef="let row"> {{row.Amount}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="ReceiptLink">
                <th mat-header-cell *matHeaderCellDef><b>Preview</b> </th>
                <td mat-cell *matCellDef="let row">
                  <a target="_blank" href="{{row.ReceiptLink}}">View</a>
                </td>
              </ng-container> -->

              <ng-container matColumnDef="collection">
                <th mat-header-cell *matHeaderCellDef><b>Actions</b> </th>
                <td mat-cell *matCellDef="let row">
                  <a (click)="openPaymentDetails('custom-modal-1', row.PaymentReceipt,row.CustomerId,row.CustName,row.Amount,row.CollectionMode,row.BankName,row.AccountNo,row.BranchName,row.DigitalMode,row.PaymentDate,row.CheckNo,row.FirstName,row.LastName,row.CardType, row.InvoiceNo, row.Comment)"
                    class="invoice-action-view font-16 pointer">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                  &nbsp;
                  <a *ngIf="row.PaymentStatus==='Pending' || row.PaymentStatus==='Failed'" (click)="DeleteFailedAndPendingPayment(row.PaymentReceipt)"
                    class="invoice-action-view font-16 pointer">
                    <span style="color: red;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </a>
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
              [showFirstLastButtons]="true">
            </mat-paginator>

          </div>
          <!-- Material Table -->

        </div>
      </div>
    </div>
  </div>
</div>

<jw-modal id="custom-modal-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header modal-colored-header bg-primary">
        <h4 class="modal-title text-white">Payment Details</h4>
        <button mat-button class="close" (click)="closeModal('custom-modal-1');">×</button>
      </div>

      <div class="col-md-12">
        <div class="card-body">
          <div class="table-responsive mt-2">
            <table id="example" class="table table-bordered  no-wrap font-16 dark-text">
              <tbody>
                <tr>
                  <td><b>Payment Receipt Number:
                    </b></td>
                  <td>{{InvNumberEdit}}</td>
                </tr>
                <tr>
                  <td><b>Customer Code :
                    </b></td>
                  <td>{{CustomerId}}</td>
                </tr>
                <tr>
                  <td><b>Customer Name:</b></td>
                  <td>{{CustName}}</td>
                </tr>

                <tr>
                  <td><b>Payment Date:</b></td>
                  <td>{{PaymentDate}}</td>
                </tr>

                <tr>
                  <td><b>Invoice Number:</b></td>
                  <td>{{InvoiceNo}}</td>
                </tr>
                <tr>
                  <td><b>Comment:</b></td>
                  <td>{{Comment}}</td>
                </tr>

                <tr *ngIf="CollectionMode==='Cash'">
                  <td colspan="2" class="AngCustomClas">
                    <table>
                      <tr>
                        <td><b>Amount:</b></td>
                        <td>${{Amount}}</td>
                      </tr>
                      <tr>
                        <td><b>Collection Mode:</b></td>
                        <td><span class="badge badge-info px-2 py-1">{{CollectionMode}}</span></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr *ngIf="CollectionMode==='Check'">
                  <td colspan="2" class="AngCustomClas">
                    <table>
                      <tr>
                        <td><b>Amount:</b></td>
                        <td>${{Amount}}</td>
                      </tr>
                      <tr>
                        <td><b>Collection Mode:</b></td>
                        <td><span class="badge badge-info px-2 py-1">{{CollectionMode}}</span></td>
                      </tr>
                      <tr>
                        <td><b>Check No :</b></td>
                        <td>{{checkNo}}</td>
                      </tr>
                      <tr>
                        <td><b>Account No :</b></td>
                        <td>{{Accountno}}</td>
                      </tr>
                      <tr>
                        <td><b>Bank Name :</b></td>
                        <td>{{bankname}}</td>
                      </tr>
                      <tr>
                        <td><b>Branch Name :</b></td>
                        <td>{{branchname}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr *ngIf="CollectionMode==='Credit Card'">
                  <td colspan="2" class="AngCustomClas">
                    <table>
                      <tr>
                        <td><b>Amount:</b></td>
                        <td>${{Amount}}</td>
                      </tr>
                      <tr>
                        <td><b>Collection Mode:</b></td>
                        <td><span class="badge badge-info px-2 py-1">{{CollectionMode}}</span></td>
                      </tr>
                      <tr>
                        <td><b>Card Type :</b></td>
                        <td>{{CardType}}</td>
                      </tr>
                      <tr>
                        <td><b>First Name :</b></td>
                        <td>{{Ftrstname}}</td>
                      </tr>
                      <tr>
                        <td><b>Last Name :</b></td>
                        <td>{{Lastname}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr *ngIf="CollectionMode==='Digital Payment'">
                  <td colspan="2" class="AngCustomClas">
                    <table>
                      <tr>
                        <td><b>Amount:</b></td>
                        <td>${{Amount}}</td>
                      </tr>
                      <tr>
                        <td><b>Collection Mode:</b></td>
                        <td><span class="badge badge-info px-2 py-1">{{CollectionMode}}</span></td>
                      </tr>
                      <tr>
                        <td><b>Payment Gateway :</b></td>
                        <td>{{DigitalMode}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr *ngIf="CollectionMode==='Online Payment'">
                  <td colspan="2" class="AngCustomClas">
                    <table>
                      <tr>
                        <td><b>Amount:</b></td>
                        <td>${{Amount}}</td>
                      </tr>
                      <tr>
                        <td><b>Collection Mode:</b></td>
                        <td><span class="badge badge-info px-2 py-1">{{CollectionMode}}</span></td>
                      </tr>
                      <tr>
                        <td><b>Payment Gateway :</b></td>
                        <td><span class="badge badge-success px-2 py-1">{{DigitalMode}}</span></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <mat-table #table [dataSource]="dataSource1" matSort class="mat-elevation-z8 striped ImageTable">
            <!--<div ngif=(row1.Paymentimage == null; else style="visibility: hidden;">-->
            <ng-container matColumnDef="Paymentimage">
              <mat-header-cell *matHeaderCellDef><b>Image</b></mat-header-cell>
              <mat-cell *matCellDef="let row1" fxLayoutAlign="center center">
                <img src="{{row1.Paymentimage}}" class="img-fluid">
              </mat-cell>
            </ng-container>
            <!--</div>-->
            <mat-header-row *matHeaderRowDef="invoicesLog"></mat-header-row>
            <mat-row *matRowDef="let row1; columns: invoicesLog"></mat-row>
          </mat-table>
        </div>



      </div>

      <div class="card-footer text-right">
        <button mat-button class="btn btn-dark" (click)="closeModal('custom-modal-1');"
          style="background-color:rgb(95, 93, 93);">Close</button>
      </div>
    </div>
  </div>
</jw-modal>