﻿@using OMSAdminPortal.Models
@model LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title OMS Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Admin Security Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- linkText, actionName, controllerName -->
                    <li><img src="~/Images/goya_logo.jpg" /></li>
                    <li>&nbsp; &nbsp;<h3>@Html.ActionLink("OMS Admin Portal", "", "")</h3></li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br /><br /><br /><br />
       
        <h2>Log in</h2>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a admin account to log in to OMS Admin Portal.</h4>
                        <hr />
                       <div style="color:red">@ViewBag.Message</div> 
                        <br />
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    }
                </section>
            </div>
            @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
        </div>


        <hr />
        <footer>
            <p>
                @*Powered by &copy; @DateTime.Now.Year -  <img src="~/Images/Triveni_logo.jpg" /> &nbsp; &nbsp; &nbsp; 71 Union Ave, Rutherford, NJ 07070*@
                <br />
                <i>Order Management System - Admin Portal v 2.2</i>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


<script type="text/javascript">
    $(document).ready
     (
         function () {

             var TempDataLogOff = @Html.Raw(Json.Encode(TempData["LogOff"]));
             if(TempDataLogOff == "True")
             {
                 localStorage.removeItem("access_adminToken");
             }

             $('#UserName').val('genadmin');
             $('#Password').val('Pwd1@genadmin');

             var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

             var localStoteToken = localStorage.getItem("access_adminToken");
             var localStoteUserName = localStorage.getItem("user_id");
             var localStoteUserFullName = localStorage.getItem("userName");
             var localStoteRole = localStorage.getItem("role");
             var tokenVarifyURL = pHostedDir + "/Home/VerifyAdminRoleToken";

             //   alert(localStoteToken + "; " + localStoteUserName + "; " + localStoteUserFullName + "; " + localStoteRole);
             //  alert(pHostedDir + "/Account/VerifyAdminRoleToken");
             if(localStoteToken != null)
             {
               //  alert("Just before ajax call");
                 $.ajax({
                     type: 'GET',
                     url: tokenVarifyURL,
                     data: JSON.stringify({ UserName: localStoteUserName, UserFullName: localStoteUserFullName, Role: localStoteRole }),
                     datatype: 'text',
                     contentType: "application/json",
                     headers: { "Authorization": localStoteToken },
                     async: false,
                     success: function (dataUser) {
                         //   alert("dataUser: " + dataUser);
                         // alert("dataUser if Success : " + dataUser);
                         if(dataUser == "True")
                         {
                             //  alert("dataUser if true: " + dataUser);
                             window.location.href = "@Url.Action("Index","Home")";
                             //  alert("dataUser111: " + dataUser);

                         }
                     },
                     error: function (XMLHttpRequest, textStatus, errorThrown) {
                         alert("some error - " + " XMLHttpRequest: " + XMLHttpRequest + " textStatus: " + textStatus + " errorThrown: " + errorThrown);
                     }
                 });
             }
         }
     );
    </script>





