<!-- Login Section -->
<!-- <div class="login-register">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" method="post">
                <h3 class="p-2 rounded-title mb-3">Sign In</h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control validate" type="test" name='UserId' [(ngModel)]="UserId"
                            placeholder="User Id" required> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control validate"  [(ngModel)]="Password"
                            name='Password' placeholder="Password" required> </div>
                </div>
                <div class="form-group">
                    <div class="d-flex no-block align-items-center">
                        <div class="checkbox checkbox-primary pt-0">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Remember me </label>
                        </div>
                        <div class="ml-auto">
                            <a href="#!" id="" class="text-muted"><i class="fa fa-lock mr-1"></i> Forgot Password?</a>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button type='submit' name='btn_login'
                            class='btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light'
                            (click)="login()" [disabled]="canClick">Login</button>
                        <button mat-raised-button (click)="cancel()" color="accent">Cancel</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div> -->


<!-- Login Section -->
<div class="login-register" style="background-color: #cdcdcd;">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" method="post">
                <h3 class="p-2 rounded-title mb-3">Sign In</h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control validate" type="text" name="UserId" required [(ngModel)]="UserId"
                            placeholder="User Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control validate" type="password" name="password" required
                            [(ngModel)]="Password" placeholder="Password">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="col-xs-12">
                        <select class="form-control p-0" id="CompanyId" name="CompanyId" [(ngModel)]="CompanyId">
                            <option value="2" disabled>Goya Foods, Inc</option>
                        </select>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="d-flex no-block align-items-center">
                        <div class="checkbox checkbox-primary pt-0">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Remember me </label>
                        </div>
                        <div class="ml-auto">
                            <a href="#!" class="text-muted"><i class="fa fa-lock mr-1"></i> Forgot Password?</a>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button type="submit" name="btn_login" (click)="UserLogin();"
                            class='btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light'>Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>