﻿<!DOCTYPE html>
<html>
<head lang="en">
</head>
<body>
    <div id="paypal-button"></div>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>var CREATE_PAYMENT_URL = 'https://localhost:44379/Payment/CreatePayment';
        var EXECUTE_PAYMENT_URL = 'https://localhost:44379/Payment/ExecutePayment';

        paypal.Button.render({
            env: 'sandbox', //'production',
            commit: true, // Show a 'Pay Now' button

            payment: function () {
                return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
                    return data.id;
                });
            },

            onAuthorize: function (data) {
                return paypal.request.post(EXECUTE_PAYMENT_URL, {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                }).then(function () {
                    window.location.href ='https://localhost:44379/Payment/Success'
                });
            }

        }, '#paypal-button');</script>
</body>
</html>