﻿<div class="ac-select-wrapper tab-drp-vw" ng-keydown="keyHandler($event)" tabindex="999" ac-focus="wrapperFocus" ng-focus="comboFocus = true">
    <div class="gg" ng-class="{'ac-select-main':true, 'ac-select-main-closed':!popupVisible, 'ac-select-main-open':popupVisible}" ng-click="mainClick($event)"
      >
        <table class="ac-select-table ac-txt-bx" ng-click="togglePopup($event)">
            <tr>
                <td  style="height:31px;text-align: left;padding-left:0px;">
                    <div ng-show="settings.comboMode">
                        <input  id="{{id}}" style="font-weight:500 !important;padding-left:5px;" type="text" class="ac-select-text" ng-model="comboText" ac-focus="comboFocus" ac-select-on-focus="settings.comboSelectOnFocus" ng-change="comboTextChange()"
                            placeholder="{{settings.placeholderText}}" watermark="{{settings.placeholderText}}" ng-keydown="comboKeyHandler($event)" />
                    </div>
                    <span ng-hide="settings.comboMode" style="width:100%" class="sp-selectac" 
 class="span-tog" >{{confirmedItem.text}}</span>
                </td>
                <td class="ac-select-image"><img class="img-ght" src="acute/acute.select/images/dropdown.gif"/></td>
            </tr>
            <!--Row to get the control width right, using the original select or the longest item text. Hidden at runtime.-->
            <tr class="ac-select-widener">
                <td class="ac-select-longest" ng-style="{ 'maxWidth': '220px'}">&nbsp;{{longestText}}</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="ac-select-popup" style="width:100%;" ng-show="popupVisible" ng-style="popupStyles">
        <div class="ac-select-search-wrapper" ng-hide="settings.comboMode || !settings.showSearchBox">
            <table>
                <tr>
                    <td>
                        <input id="Text1" type="text" style="width:100% !important" class="ac-select-search" ng-model="searchText" placeholder="search" ac-focus="searchBoxFocus" ac-select-on-focus
                            ng-change="filterData()" ng-keydown="keyHandler($event)" />
                    </td>
                    <td class="ac-select-add" ng-class="{ 'ac-select-disabled': matchFound }" title="Add" ng-show="settings.allowCustomText" ng-click="addButtonClick()">
                        <div>+</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ac-select-no-items" ng-show="noItemsFound">{{settings.noItemsText}}</div>
        <div class="ac-select-no-items" ng-show="showAddMessage">Press Enter to Add.</div>
        <div ng-if="settings.showFilterOptions" class="ac-select-filter-options">
            <input type="radio" ng-model="settings.filterType" value="startsWith" ng-change="filterTypeChange()" />Starts With&nbsp;
            <input type="radio" ng-model="settings.filterType" value="contains" ng-change="filterTypeChange()" />Contains&nbsp;
            <input type="radio" ng-model="settings.filterType" value="endsWith" ng-change="filterTypeChange()" />Ends With {{filterType}}
        </div>
        <div class="ac-select-list" focus-item ng-style='{ "height": (listHeight + 6) + "px" }' ac-scroll-to="scrollTo" ac-on-scroll="listScrolled()">
            <ul>
                <li id="{{item.id}}" ng-repeat="item in items track by $index" title="{{item.text}}"
                    ng-class="getItemClass($index)" ng-click="itemClick($index)" ng-style="{ height: settings.itemHeight + 'px', 'line-height': settings.itemHeight + 'px' }">
                    {{item.text}}
                </li>
            </ul>
            <div class="ac-select-loading" ng-show="loading" ng-style="{ height: settings.itemHeight + 'px'}">Loading...</div>
        </div>
        <div class="ac-select-load-more" ng-show="allDataLoaded===false">
            {{items.length}} items<!-- of {{matchingItemTotal}}--> 
            <span ng-click="loadMore()">{{loadMessage}}</span>
        </div>
    </div>
</div>