<div class="page-wrapper">
  <div class="container-fluid">
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Id Column -->
          <ng-container matColumnDef="InvoiceId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice #</th>
            <td mat-cell *matCellDef="let element"><a href="#">{{element.InvoiceId}}</a></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let element">{{element.Amount}}</td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">{{element.Date}}</td>
          </ng-container>

          <ng-container matColumnDef="Vendor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
            <td mat-cell *matCellDef="let element">{{element.Vendor}}</td>
          </ng-container>

          <ng-container matColumnDef="TimeInQueue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time In Queue</th>
            <td mat-cell *matCellDef="let element">{{element.TimeInQueue}}</td>
          </ng-container>

          <ng-container matColumnDef="Comments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
            <td mat-cell *matCellDef="let element">{{element.Comments}}</td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <div class="invoice-action">
                <a href="#" class="invoice-action-view mr-4">
                  <i class="material-icons">remove_red_eye</i>
                </a>
                <a href="#" class="invoice-action-edit">
                  <i class="material-icons">edit</i>
                </a>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </div>

    </div>
    </div>

    </div>
  </div>
</div>