<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-4 col-12 align-self-center">
                <h3 class="text-themecolor">Customize UI</h3>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body ">
                        <form class="mt-4">
                            <div class="row form-material">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="client">Select Client <span style="color: red;">(*)</span></label>
                                        <select class="form-control p-0" id="client" name="client" [(ngModel)]="client"
                                            (change)="changeSuit()">
                                            <option value="">--Select client--</option>
                                            <option *ngFor="let company of Company" [value]="company.ClientName">
                                                {{company.CompanyName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="themecolor">App Theme Color</label><br>
                                        <input type="color" id="themecolor" name="themecolor" [(ngModel)]="themecolor">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Currency">Currency</label><br>
                                        <select class="form-control p-0" id="Currency" name="Currency"
                                            [(ngModel)]="Currency">
                                            <option value="USD">Dollar ($)</option>
                                            <option value="INR">Rupees (₹)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="IsDisplayInvoice">Display Invoice Number</label><br>
                                        <select class="form-control p-0" id="IsDisplayInvoice" name="IsDisplayInvoice"
                                            [(ngModel)]="IsDisplayInvoice">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">&nbsp;</div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info mr-2" (click)="Save()">
                                            Submit</button> &nbsp;
                                        <button type="button" class="btn btn-secondary"
                                            (click)="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

                            <ng-container matColumnDef="ClientName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Client Name</b></th>
                                <td mat-cell *matCellDef="let row "> {{row.ClientName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ThemeColor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Theme Color </b></th>
                                <td mat-cell *matCellDef="let row"> {{row.ThemeColor}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Currency">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Currency</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.Currency}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CreatedDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Created Date</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.CreatedDate}} </td>
                            </ng-container>

                            <ng-container matColumnDef="IsDisplayInvoice">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Display Invoice</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.IsDisplayInvoice}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="IsActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Status</b></th>
                                <td mat-cell *matCellDef="let row"> {{row.IsActive}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>

                        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>