<div hide-toggle>
<section>
      <div class="col-md-12 banner-section clear-site-1">
        <section>
          <div class="col-md-12 banner-section clear-site-1">
            <section>
              <!-- breadcrumbs-links start --> 
              <div class="col-md-12 breadcrumbs-links bread-comm">
                <div class="container">
                  <ol class="breadcrumb">
                    <a ui-sref="login">Home</a>>
                    <a ui-sref="login"> Login</a>
                  </ol>
                </div>
                <!-- container -->
              </div>
              <!-- breadcrumbs-links end -->
            </section>
			<img src="images/banner.png" class="desktop-ban">
		<img src="images/banner-tab.png" class="tab-mob-ban">
            <!-- banner-section start --> 
          </div>
          <!-- banner-section end-->
        </section>
        <!-- banner-section start --> 
      </div>
      <!-- banner-section end-->
    </section>
    <section>
      <div class="col-md-12 client-login-form clear-site-1">
        <!-- client-login-form start --> 
        <div class="carousel-caption-div caption-btm-space">
          <!--center div start-->
          <p>Forgot Password</p>
          <span>Enter the Email ID and Login ID registerd with your Order
          Management System account, then click Continue. 
          We will email you email with details to reset password.</span>
          <form ng-submit="vm.forgotPassword(vm.submitReqUser)" ng-show="!vm.flagCheck">
            <div class="form-group">
              <input  type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  ng-model="vm.submitReqUser.emailId" class="form-control" placeholder="Email ID" required>
            </div>
            <div class="form-group">
              <input type="text" ng-model="vm.submitReqUser.userId" class="form-control" placeholder="User ID" required>
            </div>
            <button type="submit" class="btn btn-default">SEND E-MAIL</button>
          </form>
          <form ng-submit="vm.changePassword(vm.submitReqChangePass)" ng-show="vm.flagCheck">
            <div class="form-group">
              <input  type="text"  ng-model="vm.submitReqChangePass.UserName" class="form-control" placeholder="User Name" readonly="">
            </div>
            <div class="form-group">
              <input type="password" ng-model="vm.submitReqChangePass.NewPassword" class="form-control" placeholder="New Password" required>
            </div>
            <button type="submit" class="btn btn-default">CHANGE PASSWORD</button>
          </form>
        </div>
        <!--center div end-->
      </div>
      <!-- client-login-form end-->
    </section>
    <section>
</div>