<div hide-toggle>
    <section >
      <div class="col-md-12 banner-section clear-site-1">
        <section>
          <!-- breadcrumbs-links start --> 
          <div class="col-md-12 breadcrumbs-links bread-comm">
            <div class="container">
              <ol class="breadcrumb">
                <a ui-sref="home">Home</a>>
                <a ui-sref="login"> Login</a>
                <a ui-sref="forgetpasswordchange">forget password</a>
              </ol>
            </div>
            <!-- container -->
          </div>
          <!-- breadcrumbs-links end -->
        </section>
        <img src="images/banner.png" class="desktop-ban">
        <img src="images/banner-tab.png" class="tab-mob-ban">
        <!-- banner-section start --> 
      </div>
      <!-- banner-section end-->
    </section>
    <section>
   <!--  <div class="loader-class" ng-show="isLoading">
          <img src="{{loadinImg}}"/>
          <p>Loading...</p>
      </div> -->
      <div class="col-md-12 client-login-form clear-site-1">
        <!-- client-login-form start --> 
        <div class="carousel-caption-div">
          <!--center div start-->
          <p>{{vm.langgs.lan.Header1}}</p>
          <div ng-if="vm.authMsg" class="validUser">Username or Password Incorrect.</div>
          <div ng-if="vm.mailMesssage!=undefined">{{vm.mailMesssage}}</div>
          <form name="form" ng-submit="vm.checkLogin(vm.submitRequest)">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="vm.submitRequest.userId" placeholder="{{vm.langgs.lan.Username}}"></input>
              
            </div>
            <div class="form-group">
              <input type="password" class="form-control"   ng-model="vm.submitRequest.password" placeholder="{{vm.langgs.lan.Password}}">
            </div>
            
            <button type="submit" class="btn btn-default">{{vm.langgs.lan.Login}}</button>
          </form>
          <p class="forgot-pw"><a ui-sref="forget">{{vm.langgs.lan.Forgotpassword}}</a></p>
        </div>
        <!--center div end-->
      </div>
      <!-- client-login-form end-->
    </section>
    <section>
      <div class="col-xs-12 col-sm-12 col-md-12 footer-section">
        <h3 class="create-hdg"><a ui-sref="signup">{{vm.langgs.lan.Createnew}}</a></h3>
      </div>
      <!-- new-account end-->
    </section>

</div>